{% assign header_title = page_header %}

<div class="header__custom display-table parallax-bg">
	<div class="display-table-cell prlx-txt">
		<div class="wrapper wrapper--margins">

			<h1 itemprop="name">{{ header_title }}</h1>

			{% if template.name == 'article' %}
				{% include 'blog_meta' with blog.comments_enabled? %}
			{% elsif template.name == 'cart' %}
				<span class="cart-count"> {{ 'cart.general.items_count' | t: count: cart.item_count }} </span>
			{% elsif template.name == 'collection' %}
				{% unless collection.description == blank %} <span> {{ collection.description }}</span> {% endunless %}
          <style>
            /* countdown timer */
            .timer-wrapper {
              position:relative; 
            }
            .timer-wrapper .timer-message {
              display:block;
              margin-bottom:.6em;
              font-size:1.5em;
            }
            #timer {
              text-align:center;
            }
            .clock {
              display:table;
              padding: 20px 20px 10px 20px;
              width: auto;
              background-color: #fff;
              margin: 20px auto;
              border-radius: 10px;
              -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
              box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
            }
            #timer .clock div {
              display: inline-block;
              line-height: 1;
              font-weight:bold;
            }
            #days, #hours, #minutes, #seconds, .separator {
              font-size: 1.5em; 
              color: #928159;
              width:70px;
            }
            .separator {
              width:unset; 
            }
            .clock .sub-text {
              display: block;
              text-align: center;
              font-size: .5em;
              font-weight: normal;
              padding: 10px 0;
              color:#333;
            }
            .timer-wrapper .timer-cta {
              display:block !important;
              margin-top:2em;
            }
            .span.timer-message-subtext {
              font-size:1.1em;
            }
            @media (max-width: 1024px) {
              body { font-size: large; }
              .landing-info .wrapper > div {
               width:70%; 
              }
            }
            @media (max-width: 768px) {
              body { font-size: medium; }
              .landing-info .wrapper > div {
               width:80%; 
              }
              .landing-products .wrapper {
                display:block;
              }
            }
            @media (max-width: 500px) {
              body { font-size: small; }
              .landing-info {
               background-position: left bottom;
              }
              h1 {
               font-size: 1.9em; 
              }
              .landing-banner .wrapper {
                top: 55%;
              }
              .landing-info .wrapper > div {
               width:100%; 
              }
              .popup-inner{
                display:block;
              }
              #timer {
                left:50%; 
              }
              .timer-wrapper .timer-message {
                font-size:1.5em;
              }
              #days, #hours, #minutes, #seconds, .separator {
                font-size: 2em; 
              }
            }
          </style>
              <!--<div class="timer-wrapper">
                <div id="timer">
                  <span class="timer-message">Sign up now to win a FREE kailo kit.</span>
                  <span class="timer-message-subtext"><strong>Order Today For Christmas Delivery. The Countdown Is On!</strong><br><br></span> 
                  <div class="clock">
                    <div id="days"></div>
                    <div class="separator"> : <span class="sub-text">&nbsp;</span></div>
                    <div id="hours"></div>
                    <div class="separator"> : <span class="sub-text">&nbsp;</span></div>
                    <div id="minutes"></div>
                    <div class="separator"> : <span class="sub-text">&nbsp;</span></div>
                    <div id="seconds"></div>
                  </div>
                  <span class="timer-message-subtext">Order by Dec. 10th for Ground Shipping xmas delivery or<br>Dec. 14th for Expedited Shipping for xmas delivery.</span>
                </div>
              </div>  -->
          
              <script type="text/javascript">
              function makeTimer() {

                  //		var endTime = new Date("29 April 2018 9:56:00 GMT+01:00");	
                          var endTime = new Date("15 December 2020 7:00:00 GMT");			
                          endTime = (Date.parse(endTime) / 1000);

                          var now = new Date();
                          now = (Date.parse(now) / 1000);

                          var timeLeft = endTime - now;

                          var days = Math.floor(timeLeft / 86400); 
                          var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
                          var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
                          var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

                          if (hours < "10") { hours = "0" + hours; }
                          if (minutes < "10") { minutes = "0" + minutes; }
                          if (seconds < "10") { seconds = "0" + seconds; }

                          $("#days").html(days + '<span class="sub-text">DAYS</span>');
                          $("#hours").html(hours + '<span class="sub-text">HRS</span>');
                          $("#minutes").html(minutes + '<span class="sub-text">MIN</span>');
                          $("#seconds").html(seconds + '<span class="sub-text">SEC</span>');		

                  }

                  setInterval(function() { makeTimer(); }, 1000);
              </script>
			{% elsif template.name == 'search' %}
			    {% if search.performed %}
			      {% if search.results_count == 0 %}
			        <span>{{ 'general.search.no_results' | t: terms: search.terms }}</span>
			      {% else %}
			        <span>{{ 'general.search.results_for' | t: terms: search.terms, count: search.results_count }}</span>
			      {% endif %}
			    {% endif %}
			{% elsif template.name == 'password' %}
				<span>{{ shop.password_message }}</span>
			{% endif %}
   			<hr />

		</div>
	</div>
	<span class="prlx-bg" style="background-color: {{ settings.color_body_bg_alt }}"></span>
</div>
