{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

{% comment %} {% unless grid_item_width %}
  {%- assign grid_item_width = 'one-third medium--one-half small--one-whole' -%}
{% endunless %} {% endcomment %}
<div class="product">

    <a href="{{ product.url | within: collection }}" class="">
    {% if product.featured_image %}
    <div class="grid-item-image">
    {% assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

        {%- assign load_img = product.featured_image -%}

            
            <img 
        class="lazyload"
        data-src="{{ img_url }}"
        data-widths="[108, 360, 375, 414, 568, 684, 720, 732, 736, 768, 1024, 1200, 1296, 1512, 1728, 1944, 2048]"
        data-aspectratio="{{ product.featured_image.aspect_ratio }}"
        data-sizes="auto"
        data-parent-fit="width"
        alt="{{ product.featured_image.alt | escape }}">			
    </div>
    {% comment %} <noscript>
        <img src="{{ product.featured_image | img_url: '580x' }}"
        srcset="{{ product.featured_image | img_url: '580x' }} 1x, {{ product.featured_image | img_url: '580x', scale: 2 }} 2x"
        alt="{{ product.featured_image.alt }}" style="opacity:1;">
    </noscript> {% endcomment %}
    {% else %}
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% if sold_out %}
        <span class="badge badge--sold-out">{{ 'products.product.sold_out' | t }}</span>
    {% elsif on_sale %}
        <span class="badge badge--on-sale">{{ 'products.product.on_sale' | t }}</span>
    {% endif %}
    </a>
    <div class="product-details">
        <p class="h3"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></p>
        <div style="text-align: center">  
        <div class="yotpo bottomLine"
            style="display:inline-block"
            data-product-id="{{ product.id }}">
            {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
            {%- assign time_now = 'now' | date: '%s' %}
            {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
            {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
            {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.catalog_bottomline_update_time | date: '%s' %}
            {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
            {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
            {%- assign yotpo_bottomline_obsolete = false %}
            {%- else %}
            {%- assign yotpo_bottomline_obsolete = true %}
            {%- endif %}
            {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
            {{ product.metafields.yotpo.catalog_bottomline }}
            {%- endif %}
        </div>
        </div>
        <p class="price">

            {% if product.price_varies %} {{ 'products.product.on_sale_from' | t }} {% endif %}
            {% if on_sale %}
            <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            {{ product.price | money }}

            {% if on_sale %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <span class="compare-price">{{ product.compare_at_price | money }}</span>
            {% endif %}

        </p>
    </div>
{% render 'preorder-now-collection-item', product: product %}</div>
