<a class="popup-vimeo" href="{{ link }}">
    Open Vimeo video

    {% if btnStatus != "hidden" %}
        <span class="play-video">
            {% render "icon-play" %}
        </span>
    {% endif %}

    <img src="{{ img | image_url }}" width="{{ width }}" height="{{ height }}" alt="{{ alt }}">
</a>

