{% comment %} you can always turn off the speedupkernel{% endcomment %}
{%- assign speedupkernel = true -%}
{%- assign is_admin_interface = true -%}

{%- if speedupkernel -%}
{%- if request.host contains 'myshopify.com' -%}
{%- assign is_admin_interface = true -%}
{%- else -%}
{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if request.host contains 'shopifypreview.com' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.host contains 'gempages.net' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}	

{%- if request.path == '/cart' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path == '/checkout' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}
{%- endif -%}
{%- capture html -%}
<!doctype html>
<html class="no-js">
  <head>
    <!-- Google Ads Dynamic Remarketing -->
   
    {% render 'redirects' %}

    {% include '__opt-theme-preload' %}
    {% include '__opt-js-theme-init' %}
    {%comment%}{% include '__opt-js-ipinfo' %}{%endcomment%}

    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="google-site-verification" content="oFqR9R01jT-rsbH7naphPLV5VWTc-7O-g-vuE1zNjLk" />

    {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
	
    
    {% comment %}
	    {% include 'google-ads-dynamic-remarketing' %}
    {% endcomment %}
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="//www.googletagmanager.com/gtag/js?id=UA-126972362-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-126972362-7');
    </script>
    

    <title>
      {% if template.name == 'password' %}{{ shop.name }}{% else %}{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}{% endif %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <meta name="p:domain_verify" content="9d8c2221036f29c95439a88d8f1fe17b"/>

    {% include 'inline-content' %}

    <meta name="locale-bar--browsing-context-suggestions-url" content="{{ routes.browsing_context_suggestions_url }}">
    <meta name="locale-bar--current-language" content="{{ request.locale.iso_code }}">
    <meta name="locale-bar--current-currency" content="{{ cart.currency.iso_code }}">

    {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {%- unless template.name == 'index' -%}
    {% if template != 'cart' %}

    {% endif %}
    {%- endunless -%}

    {% include '__opt-system-header' %}
    {{ content_for_header }}
    {% include '__opt-css-theme' %}
    <!--Gem_Page_Header_Script-->
    {% include 'gem-app-header-scripts' %}
    <!--End_Gem_Page_Header_Script-->

    {%- render 'bold-common' -%}
    {%- render 'bold-ro-init' -%}
    {{ 'bold.css' | asset_url | stylesheet_tag }}
    <meta name="facebook-domain-verification" content="8v2odzwmwu570v1drje7jboxf8ili3" />
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/6VubeMJ7GY2e0Ai0ynXuSw" async></script>
    
     <script type="text/javascript" async="" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Nvz3ut"></script>
{% comment %}
    <script async type="text/javascript"
     src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=Nvz3ut"></script>
    <script>
     var _learnq = _learnq || [];
     if ('{{ customer.email }}') {
       _learnq.push(['identify', {
           '$email' : '{{ customer.email }}'
         }]);
      }
    </script> {% endcomment %}
	<script src="//staticxx.s3.amazonaws.com/aio_stats_lib_v1.min.js?v=1.0"></script>
    
    <meta name="msvalidate.01" content="7245AE2C381818F20D860E3B4B0150EC" />
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '2511177278913224');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=2511177278913224&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
    <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_3D1WlK2kBIuhWbuvKhvXm4OtJcEljvTKrh3BRI65ePO',{api_host:'https://app.posthog.com'})
</script>
    <meta name="google-site-verification" content="MV8mPwm85dO-vSLNGFgDTVYqRBr-f3HQeJ-ZtEFLgec" />
    <meta name="msvalidate.01" content="1337C78CC5FEE3FD76328C27EAF8E199" />
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '746065746668502');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=746065746668502&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
    {% if template.suffix == 'kailo-landing-11' or 'kailo-landing-cs' %}
    	{{ 'slick.css' | asset_url | stylesheet_tag }}
	{% endif %}
  
  </head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNMTZCC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="PageContainer"{% if color %} class="{{ color }}"{% endif %}>
      {% unless template == 'page.kailo-landing' or template == 'page.kailo-landing-2' or template == 'page.kailo-landing-3' or template == 'page.kailo-landing-4' or template == 'page.kailo-landing-12-Days-Giveaways' or template == 'page.kailo-landing-white-paper-download' or template == 'page.kailo-landing-1' or template == 'page.kailo-landing-5' or template == 'page.kailo-landing-6' or template == 'page.kailo-landing-7' or template == 'page.kailo-landing-8' or template == 'page.kailo-landing-9' or template == 'page.kailo-landing-10' or template == 'page.kailo-landing-whm' or template == 'page.kailo-landing-11' or template == 'page.kailo-landing-cs' or template == 'page.kailo-landing-new' or template == 'page.kailo-offer-mothers-day' %}
      {% section 'header' %}
      {% endunless %}
      <main class="main-content{% if template.name == blank %} main-content--no-template{% endif %}" role="main">
        {%- if speedupkernel -%}
        {%- unless is_admin_interface -%}
        {% include '__opt-system-shogun' %}
        {% include '__opt-theme-layout' %}
        {%- endunless -%}
        {{content_for_layout}}					
        {%- else -%}
        {{content_for_layout}}
        {%- endif -%}
      </main>
      {% unless template == 'page.kailo-landing' or template == 'page.kailo-landing-2' or template == 'page.kailo-landing-3' or template == 'page.kailo-landing-4' or template == 'page.kailo-landing-12-Days-Giveaways' or template == 'page.kailo-landing-white-paper-download' or template == 'page.kailo-landing-1' or template == 'page.kailo-landing-5' or template == 'page.kailo-landing-6' or template == 'page.kailo-landing-7' or template == 'page.kailo-landing-8' or template == 'page.kailo-landing-9' or template == 'page.kailo-landing-10' or template == 'page.kailo-landing-whm' or template == 'page.kailo-landing-11' or template == 'page.kailo-landing-cs'  or template == 'page.kailo-landing-new'  or template == 'page.kailo-offer-mothers-day' or template == 'page.kailo-landing-custom-11' %}
      {%- if is_admin_interface -%}
      {% section 'footer' %}
      {%- else -%}
      <div id="__load-section-footer"></div>
      {%- endif -%}
      {% endunless %}
    </div>
    <script type="text/javascript">
      {% capture jQuery_plus_icon %} {% include "asset_svg" with "plus" %} {% endcapture %}
      {% capture jQuery_minus_icon %} {% include "asset_svg" with "minus" %} {% endcapture %}
      {% capture jQuery_close_icon %} {% include "asset_svg" with "close" %} {% endcapture %}
      {% capture jQuery_arrow_down_icon %} {% include "asset_svg" with "arrow_down" %} {% endcapture %}
      {% capture jQuery_arrow_left_icon %} {% include "asset_svg" with "arrow_left" %} {% endcapture %}
      {% capture jQuery_arrow_right_icon %} {% include "asset_svg" with "arrow_right" %} {% endcapture %}


      jQuery.themeAssets = {
        plus: '{{ jQuery_plus_icon | lstrip | rstrip }}',
        minus: '{{ jQuery_minus_icon | lstrip | rstrip }}',
        close: '{{ jQuery_close_icon | lstrip | rstrip }}',
        arrow_down: '{{ jQuery_arrow_down_icon | lstrip | rstrip }}',
        arrow_left: '{{ jQuery_arrow_left_icon | lstrip | rstrip }}',
        arrow_right: '{{ jQuery_arrow_right_icon | lstrip | rstrip }}'
      }

      __engine_loaded['theme.luquid.timber'] = function () {
        {% if newHash %}
        timber.updateHash('{{ newHash }}');
                          {% endif %}
                          {% if resetPassword %}
                          timber.resetPasswordSuccess();
        {% endif %}
      }

    </script>

    {% include 'wisepops-generated' %}


    {% include 'klaviyo-tracking' %}

    {% include '__opt-js-theme-main' %}
    {% include '__opt-css-theme-footer' %}
    {% include '__mod_signup_form' %}

    <!--Gem_Page_Footer_Script-->
    {% include '__opt-gem-app-footer-scripts' %}
    {% comment %} {% include 'gem-app-footer-scripts' %} {% endcomment %}
    <!--End_Gem_Page_Footer_Script-->

    {% include 'adroll' %}
    
    <input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/>
        {% if template.suffix == 'kailo-landing-11' or template.suffix 'kailo-landing-cs' %}
          
<!--     	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script> -->
    	{{ 'slick.min.js' | asset_url | script_tag }}
          <script>
            
//             var $j = jQuery.noConflict();
            jQuery(document).ready(function() { 
              jQuery('.kailo-content-slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                arrows: true,
                centerPadding: '60px',
                dots: true,
                draggable: true,
                lazyLoad: 'ondemand',
                pauseOnFocus: true,
                pauseOnHover: true,
                respondTo: 'window',
                swipeToSlid: true,
                touchMove: true
              });
              jQuery('.kail-image-slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                arrows: true,
                centerPadding: '60px',
                dots: true,
                draggable: true,
                lazyLoad: 'ondemand',
                pauseOnFocus: true,
                pauseOnHover: true,
                respondTo: 'window',
                swipeToSlid: true,
                touchMove: true,
                prevArrow: '<div class="slick-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>',
    			nextArrow: '<div class="slick-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>',
                responsive: [
                {
                  breakpoint: 1024, 
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    dots: true
                  }
                },
                {
                  breakpoint: 600, 
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }]
              });
              jQuery('.kailo-testimonial-slider').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                arrows: false,
                centerPadding: '60px',
                dots: true,
                draggable: true,
                lazyLoad: 'ondemand',
                pauseOnFocus: true,
                pauseOnHover: true,
                respondTo: 'window',
                swipeToSlid: true,
                touchMove: true,
                responsive: [
                {
                  breakpoint: 1024, 
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    infinite: true,
                    dots: true
                  }
                },
                {
                  breakpoint: 600, 
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }]
              });
            });
          </script>
    {{ 'player.js' | asset_url | script_tag }}
    <script>
//       var iframe = document.querySelector('iframe');
//         var player = new Vimeo.Player(iframe);
      
        var options = {
        url: "//player.vimeo.com/video/434175468?autoplay=1#t=0m10s",
        muted: true,
        autoplay: true,
        controls: true,
        loop: true
      };

      var videoPlayer = new Vimeo.Player('landing-video', options);

      document.on('play', function(){

      })

      videoPlayer.on('play', function() {
        console.log('Played the video');
      });
      
    </script>
		{% endif %}
  {% render 'preorder-now' %}

<script type="text/javascript">
var _learnq = _learnq || [];
function addedToCart() {
  fetch(`${window.location.origin}/cart.js`)
  .then(res => res.clone().json().then(data => {
    var cart = {
      total_price: data.total_price/100,
      $value: data.total_price/100,
      total_discount: data.total_discount,
      original_total_price: data.original_total_price/100,
      items: data.items
    }
    if (item !== 'undefined') {
      cart = Object.assign(cart, item)
    }
    _learnq.push(['track', 'Added to Cart', cart])
  }))
} 
(function (ns, fetch) {
  ns.fetch = function() {
    const response = fetch.apply(this, arguments);
    response.then(res => {
      if (`${window.location.origin}/cart/add.js`
      	.includes(res.url)) {
        	addedToCart()
      }
    });
    return response
  }
}(window, window.fetch))
$(document).ajaxComplete(function(event, request, settings){
  if(settings.url == "/cart/add.js"){
      addedToCart()
  }
})</script>
	
	
    
  </body>
</html>
{%- endcapture -%}
{% include '__opt-theme-html' %}


{{ 'slick.min.js' | asset_url | script_tag }}