<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">

    <title>
      {% if template.name == 'password' %}{{ shop.name }}{% else %}{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}{% endif %}
    </title>

    {{ "reset.css" | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    {{ "swiper.css" | asset_url | stylesheet_tag }}
    {{ "magnific-popup.css" | asset_url | stylesheet_tag }}

    <script src="{{ 'shopify_common.js' | asset_url }}" defer="defer"></script>

    {{ "root.css" | asset_url | stylesheet_tag }}

    {{ "index.css" | asset_url | stylesheet_tag }}
    {{ "content.css" | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/6VubeMJ7GY2e0Ai0ynXuSw" async></script>
</head>
<body class="checkout">

<header class="header">
    {% sections "header-group" %}
</header>

<main>
    {{ content_for_layout }}
</main>

{% sections "footer-group" %}

{% section "cart-drawer" %}

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<script src="{{ 'magnific-popup.min.js' | asset_url }}" defer="defer"></script>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="{{ "index.js" | asset_url }}"></script>
</body>
</html>
