{% liquid
  if section.blocks.size == 1
    assign column_width = 'full-width'
  elsif section.blocks.size == 2
    assign column_width = 'half-width'
  elsif section.blocks.size == 3
    assign column_width = 'one-third-width'
  elsif section.blocks.size == 4
    assign column_width = 'quarter-width'
  endif
%}

{% assign header_title = collection.title %}
{% include 'page_header' with header_title %}

<div class="collection-wrapper">
  {% for block in section.blocks %}
    <div class="subcollection-wrapper collection-list {{ column_width }} {{ block.id }}">
      {% if block.settings.subheading != blank %}
        <h2 class="subcollection-heading">{{ block.settings.subheading }}</h2>
      {% endif %}
      {% for product in collection.products %}
        {% if product.tags contains block.settings.subcollection_tag %}
          {% render 'product-grid-item-custom', product: product %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% style %}
  .collection-wrapper {
    max-width: 1200px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-around;
  }
  .subcollection-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    {% comment %} box-shadow: 7px 7px 8px -4px rgba(0,0,0,0.57); {% endcomment %}
  }
  .subcollection-wrapper.half-width {
    width: 50%;
  }
  .subcollection-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    width: 2px;
    height: 90%;
    background-color: #e9e9e9;
  }
  .subcollection-wrapper:last-of-type::after {
    display: none;
  }
  .subcollection-wrapper .badge {
    text-align: center;
  }
  .subcollection-heading {
    color: #928159;
    text-align: center;
    min-height: 100px; 
  }
  .grid-item-image {
    width: 100%;
    aspect-ratio: 1;
  }
  .grid-item-image img {
    height: 100%;
    object-fit: contain;
  }
  .product-details {
    text-align: center;
  }
  .product-details .h3 {
    min-height: 45px;
  }
  @media screen and (max-width: 425px) {
    .collection-wrapper {
      flex-direction: column;
      margin-top: 50px;
    }
    .collection-wrapper .subcollection-wrapper {
      width: 100%;
    }
    .subcollection-wrapper::after {
      display: none;
    }
    .subcollection-heading {
      min-height: unset;
    }
  }
  {% for block in section.blocks %}
    .subcollection-wrapper.{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }
  {% endfor %}
{% endstyle %}

{% schema %}
  {
    "name": "Collection Custom",
    "settings": [],
    "blocks": [
      {
        "type": "subcollection",
        "name": "Subcollection tag",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "Subcollection heading"
          },
          {
            "type": "text",
            "id": "subcollection_tag",
            "label": "Subcollection tag",
            "info": "Add product tag to organize collection in subcollections"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Custom"
      }
    ]
  }
{% endschema %}