{{ "catalog.css" | asset_url | stylesheet_tag }}
{{ "tag.css" | asset_url | stylesheet_tag }}
{{ "compare-price.css" | asset_url | stylesheet_tag }}
{{ "single-product.css" | asset_url | stylesheet_tag }}

<div class="catalog">
    {% assign collectionName = collection.title %}
    {% assign productsCount = collection.products | size %}

    {% render "top-logo", title: collectionName, text: "Your pain deserves the right solution" %}

    <div class="catalog__wrapper">
        <div class="container">
            <div class="catalog__menu">
                {% render "breadcrumbs", prevName: "Collections", prevUrl: routes.collections_url, current: collectionName %}

                <div class="catalog__sort-by">
                    <span>Showing  all {{ productsCount }} results</span>

                    <div class="catalog__select">
                        <select id="sort-by">
                            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

                            {% for option in collection.sort_options %}
                                <option value="{{ option.value }}"
                                        {% if option.value == sort_by %}selected{% endif %}>
                                    {{ option.name }}
                                </option>
                            {% endfor %}
                        </select>

                        {% render "icon-chevron" %}
                    </div>
                </div>
            </div>


            {% if productsCount == 0 %}
                <p>No active products here.</p>
            {% else %}
                <ul class="catalog__list">
                    {% for product in collection.products %}
                        <li>
                            {% render "single-product", product: product %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<script>
    Shopify.queryParams = {};

    // Preserve existing query parameters
    if (location.search.length) {
        var params = location.search.substr(1).split('&');

        for (var i = 0; i < params.length; i++) {
            var keyValue = params[i].split('=');

            if (keyValue.length) {
                Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
            }
        }
    }

    // Update sort_by query parameter on select change
    document.querySelector('#sort-by').addEventListener('change', function (e) {
        var value = e.target.value;

        Shopify.queryParams.sort_by = value;
        location.search = new URLSearchParams(Shopify.queryParams).toString();
    });
</script>
