<style>
    .footer {
        padding: 60px 0;
        background-color: var(--grays1);
        color: var(--grays6);
    }

    .footer__subscribe {
        width: 100%;
        max-width: 620px;
        margin: 0 auto -32px;
        padding: 20px 0;
        text-align: center;
    }

    .footer__subscribe > * {
        margin: 0 0 32px;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
    }

    .footer__subscribe-info > *:not(:last-child) {
        margin: 0 0 16px;
    }

    .footer__subscribe-success {
        display: none;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding: 8px 12px;
        border-radius: 12px;
        background-color: var(--grays6);
        color: var(--primary1);
    }

    #contact_form:target + #successSubscribe {
        display: inline-flex;
    }

    #contact_form:target {
        display: none;
    }

    .footer__subscribe-success p {
        margin: 2px 0 0;
    }

    .footer__subscribe-success svg {
        margin: 0 6px 0 0;
        min-width: 28px;
    }

    .footer__subscribe-form form {
        display: flex;
        justify-content: center;
    }

    .footer__subscribe-form .field-block {
        max-width: 300px;
        width: 100%;
        margin: 0 8px 0 0;
    }

    .footer__navigation {
        padding: 20px 0;
    }

    .footer__nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0 0;
        margin: 0 0 -40px -40px;
        text-align: center;
    }

    .footer__nav {
        border-top: 1px solid var(--grays6);
    }

    .footer__nav-list > li {
        margin: 0 0 40px 40px;
    }

    .footer__socials {
        padding: 20px 0;
    }

    .footer__socials-list {
        display: flex;
        justify-content: center;
    }

    .footer__socials-list > li:not(:last-child) {
        margin: 0 16px 0 0;
    }

    .footer__socials-list a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-radius: 50%;
        font-size: 0;
        border: 1px solid rgba(255, 255, 255, 0.20);
        transition: border 0.15s linear;
    }

    .footer__socials-list a:hover,
    .footer__socials-list a:focus {
        border-color: #ffffff;
    }

    .footer__copyright {
        max-width: 1060px;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        .footer {
            padding: 40px 0;
        }

        .footer__subscribe {
            margin: 0 auto -24px;
        }

        .footer__subscribe > * {
            margin: 0 0 24px;
        }

        .footer__subscribe-info > *:not(:last-child) {
            margin: 0 0 8px;
        }

        .footer__nav-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 32px 0 0;
            margin: 0 0 -24px -24px;
        }

        .footer__nav-list > li {
            margin: 0 0 24px 24px;
        }
    }

    @media screen and (max-width: 425px) {
        .footer__subscribe-form form {
            flex-direction: column;
        }

        .footer__subscribe-form .field-block {
            max-width: 100%;
            margin: 0 0 8px;
        }

        .footer__subscribe-form form > * {
            width: 100%;
        }

        .footer__nav-list {
            flex-direction: column;
        }
    }
</style>

{{ "field-block.css" | asset_url | stylesheet_tag }}

<footer class="footer">
    <div class="container">
        <div class="footer__subscribe">
            <a class="footer__logo" href="{{ routes.root_url }}">
                <img src="{{ "logo-white-k.png" | asset_url }}" width="100" height="100" alt="Kailo">
            </a>

            {% if section.settings.newsletter %}
                <div class="footer__subscribe-info">
                    <h4 class="h4-title">subscribe to our newsletter</h4>
                    <p>Promotions, new products and sales, directly to your inbox.</p>
                </div>

                <div id="contact_form" class="footer__subscribe-form">
                    {% form 'customer' %}
                        <div class="field-block">
                            <input type="email" placeholder="Email" name="contact[email]"/>
                        </div>

                        <button type="submit" class="button button--primary">subscribe</button>
                    {% endform %}
                </div>

                <div id="successSubscribe" class="footer__subscribe-success">
                    {% render "icon-success" %}
                    <p>Thank you for subscribing to our newsletter!</p>
                </div>
            {% endif %}
        </div>

        <nav class="footer__navigation">
            <div class="footer__nav">
                <ul class="footer__nav-list">
                    {% for link in linklists.footer.links -%}
                        <li>
                            <a class="h6-title" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            </div>
        </nav>

        {% if section.settings.socials %}
            <div class="footer__socials">
                <ul class="footer__socials-list">
                    {% if section.settings.twitter %}
                        <li>
                            <a href="{{ settings.twitter }}" target="_blank">
                                Twitter
                                {% render "icon-twitter" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if section.settings.facebook %}
                        <li>
                            <a href="{{ settings.facebook }}" target="_blank">
                                Facebook
                                {% render "icon-facebook" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if section.settings.youtube %}
                        <li>
                            <a href="{{ settings.youtube }}" target="_blank">
                                Youtube
                                {% render "icon-youtube" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if section.settings.instagram %}
                        <li>
                            <a href="{{ settings.instagram }}" target="_blank">
                                Instagram
                                {% render "icon-instagram" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if section.settings.email %}
                        <li>
                            <a href="{{ settings.email }}">
                                Email
                                {% render "icon-email" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% if section.settings.copyright != blank %}
            <div class="footer__copyright">{{ section.settings.copyright }}</div>
        {% endif %}
    </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter",
      "label": "Show Newsletter",
      "default": true
    },
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Copyright"
    },
    {
      "type": "header",
      "content": "Socials"
    },
    {
      "type": "checkbox",
      "id": "socials",
      "label": "Show Socials",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "twitter",
      "label": "Show Twitter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "facebook",
      "label": "Show Facebook",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "youtube",
      "label": "Show Youtube",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "instagram",
      "label": "Show Instagram",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "email",
      "label": "Show Email",
      "default": false
    }
  ]
}
{% endschema %}
