<style>
    .home-testimonials {
        padding: 80px 0;
        color: var(--grays6);
        background-color: var(--primary4);
    }

    .home-testimonials__wrapper {
        display: flex;
        align-items: center;
        margin: 0 0 0 -16px;
    }

    .home-testimonials__wrapper > * {
        width: 50%;
        margin: 0 0 0 16px;
    }

    .home-testimonials__interviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-testimonials__interviews .button {
        margin: 24px 0 0;
    }

    .home-testimonials__interviews > div {
        max-width: 330px;
        width: 100%;
        margin: 0 auto;
    }

    .home-testimonials__swiper {
        overflow: hidden;
    }

    .home-testimonials__swiper .swiper-pagination {
        margin: 64px 0 0;
    }

    .home-testimonials__swiper svg {
        margin: 0 0 56px;
    }

    .home-testimonials__swiper h3 {
        margin: 0 0 24px;
    }

    .home-testimonials__swiper blockquote {
        margin: 0 0 24px;
    }

    .home-testimonials__author {
        display: flex;
    }

    .home-testimonials__author img {
        width: 48px;
        height: 48px;
        margin: 0 16px 0 0;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .home-testimonials__author figcaption {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        .home-testimonials {
            padding: 60px 0;
        }

        .home-testimonials__wrapper {
            flex-direction: column;
            margin: 0 0 -40px 0;
        }

        .home-testimonials__wrapper > * {
            width: 100%;
            margin: 0 0 40px 0;
        }

        .home-testimonials__interviews .button {
            margin: 16px 0 0;
        }

        .home-testimonials__swiper .swiper-pagination {
            margin: 24px 0 0;
        }

        .home-testimonials__swiper h3 {
            margin: 0 0 16px;
        }

        .home-testimonials__swiper blockquote {
            margin: 0 0 16px;
        }

        .home-testimonials__swiper .swiper-pagination {
            justify-content: center;
        }
    }

    @media screen and (max-width: 425px) {
        .home-testimonials__interviews .button {
            width: 100%;
        }
    }
</style>

<section class="home-testimonials">
    <div class="container">
        <div class="home-testimonials__wrapper">
            <div>
                <div class="home-testimonials__swiper">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            <figure class="swiper-slide">
                                <blockquote>
                                    {% render "icon-quote" %}

                                    <h3 class="h2-title">{{ block.settings.title }}</h3>

                                    <p>{{ block.settings.content }}</p>
                                </blockquote>

                                <div class="home-testimonials__author">
                                    <img src="{{ block.settings.author_image | image_url }}"
                                         alt="{{ block.settings.author_image.alt }}">

                                    <figcaption>
                                        <span class="h6-title">{{ block.settings.author_name }}</span>
                                        <span class="caption-text">{{ block.settings.author_position }}</span>
                                    </figcaption>
                                </div>
                            </figure>
                        {% endfor %}
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="home-testimonials__interviews">
                <div>
                    {% if section.settings.video != blank and section.settings.preview != blank %}
                        {% render "vimeo-image", link: section.settings.video, img: section.settings.preview, width: 330, height: 186, alt: section.settings.preview.alt %}
                    {% endif %}

                    {% if section.settings.link_text != blank %}
                        <a class="button button--primary" href="{{ section.settings.link_url }}">
                            {{ section.settings.link_text }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module">
    const initSlider = () => {
        new Swiper('.home-testimonials__swiper', {
            slidesPerView: 1,
            spaceBetween: 32,

            autoHeight: true,

            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    };

    document.addEventListener("shopify:section:load", initSlider);

    initSlider();
</script>

{% schema %}
{
  "name": "Home Testimonials",
  "settings": [
    {
      "type": "header",
      "content": "Interview Video"
    },
    {
      "type": "text",
      "id": "video",
      "label": "Vimeo Video URL"
    },
    {
      "type": "image_picker",
      "id": "preview",
      "label": "Video Preview Image"
    },
    {
      "type": "header",
      "content": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "author_image",
          "label": "Author Image"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name"
        },
        {
          "type": "text",
          "id": "author_position",
          "label": "Author Position"
        }
      ]
    }
  ]
}
{% endschema %}

