<style>
    .home-about {
        padding: 120px 0;
        color: var(--primary4);
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), url({{ section.settings.image_background | image_url }});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-about__wrapper {
        display: flex;
        margin: 0 0 0 -40px;
    }

    .home-about__wrapper > * {
        margin: 0 0 0 40px;
    }

    .home-about__info {
        min-width: 400px;
        max-width: 400px;
    }

    .home-about__slide {
        transition: opacity 0.15s linear;
    }

    .home-about__list {
        margin: 40px 0 0;
    }

    .home-about__list button {
        position: relative;
        width: 100%;
        padding-left: 20px;
        color: inherit;
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-align: left;
        transition: opacity 0.15s linear;
    }

    .home-about__list button::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        opacity: 0;
        background-color: var(--primary4);
        transform: translateY(-50%);
        transition: opacity 0.15s linear;
    }

    .home-about__list button:hover,
    .home-about__list button:focus {
        opacity: 0.6;
    }

    .home-about__list button.active::before {
        opacity: 1;
    }

    .home-about__list button.active {
        pointer-events: none;
        opacity: 1;
    }

    .home-about__list > li:not(:last-child) {
        margin: 0 0 24px;
    }

    .home-about__placement {
        display: flex;
        align-items: flex-start;
    }

    .home-about__placement ul {
        margin: 0 0 0 16px;
    }

    .home-about__placement .button {
        width: 100%;
    }

    .home-about__placement ul > li:not(:last-child) {
        margin: 0 0 16px;
    }

    .home-about__risk a[href^="mailto:"] {
        color: var(--primary2);
    }

    .home-about__risk img,
    .home-about__trial img {
        padding-bottom: 24px;
        border-bottom: 1px solid var(--primary4);
    }

    .home-about__risk > * {
        margin: 0 0 24px;
    }

    .home-about__condition ul {
        margin: 24px 0;
    }

    .home-about__condition h3 {
        margin: 0 0 16px;
    }

    .home-about__condition ul a {
        display: flex;
        align-items: flex-start;
        padding: 24px;
        transition: color 0.15s linear, background-color 0.15s linear;
    }

    .home-about__condition ul a span {
        padding: 0;
    }

    .home-about__condition ul a span:last-child {
        max-width: 110px;
        width: 100%;
    }

    .home-about__condition ul a span:nth-child(2) {
        margin: 0 24px;
    }

    .home-about__condition ul a span:first-child {
        min-width: 200px;
        width: 200px;
    }

    .home-about__condition ul a:hover,
    .home-about__condition ul a:focus {
        color: var(--grays6);
        text-decoration: none;
        background-color: var(--primary1);
    }

    .home-about__condition li:not(:last-child) {
        border-bottom: 1px solid var(--primary4);
    }

    .home-about__reviews ul {
        margin: 24px 0;
    }

    .home-about__reviews ul li > *:first-child {
        max-width: 140px;
        width: 100%;
        margin: 0 24px 0 0;
    }

    .home-about__reviews li {
        display: flex;
        padding: 24px 0;
        border-bottom: 1px solid var(--primary4);
    }

    .home-about__trial > *:not(:last-child) {
        margin: 0 0 24px;
    }

    .home-about__trial a {
        color: var(--primary2);
    }

    @media screen and (max-width: 1024px) {
        .home-about {
            padding: 80px 0;
        }

        .home-about__wrapper {
            flex-direction: column;
            margin: 0 0 -40px;
        }

        .home-about__wrapper > * {
            margin: 0 0 40px 0;
        }

        .home-about__info {
            min-width: 100%;
            max-width: 100%;
        }

        .home-about__list {
            margin: 32px 0 0;
        }

        .home-about__list > li:not(:last-child) {
            margin: 0 0 16px;
        }

        .home-about__risk > * {
            margin: 0 0 16px;
        }

        .home-about__condition ul {
            margin: 16px 0;
        }

        .home-about__condition ul a {
            flex-direction: column;
            padding: 16px;
        }

        .home-about__condition ul a span:nth-child(2) {
            margin: 0;
        }

        .home-about .home-about__condition ul a > *:not(:last-child) {
            margin: 0 0 8px;
        }

        .home-about__condition ul a span:last-child {
            max-width: 100%;
            justify-content: flex-start;
        }

        .home-about__condition ul a span:first-child {
            min-width: 100%;
            width: 100%;
        }


        .home-about__reviews ul {
            margin: 16px 0;
        }

        .home-about__reviews li {
            padding: 16px 0;
            flex-direction: column;
        }

        .home-about__reviews ul li > *:first-child {
            max-width: 100%;
            width: 100%;
            margin: 0 0 8px;
        }

        .home-about__trial > *:not(:last-child) {
            margin: 0 0 16px;
        }

        .home-about__use {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media screen and (max-width: 768px) {
        .home-about__placement {
            flex-direction: column;
            align-items: center;
        }

        .home-about__wrapper {
            margin: 0;
        }

        .home-about__wrapper > * {
            margin: 0;
        }

        .home-about__wrapper > *:not(:last-child) {
            margin: 0 0 40px;
        }

        .home-about__placement ul {
            margin: 16px 0 0 0;
        }
    }

    @media screen and (max-width: 425px) {
        .home-about__placement ul {
            width: 100%;
        }

        .home-about__placement ul img {
            width: 100%;
        }
    }
</style>

{{ "play-video.css" | asset_url | stylesheet_tag }}
{{ "star.css" | asset_url | stylesheet_tag }}

<section class="home-about">
    <div class="container">
        <div class="home-about__wrapper">
            <div class="home-about__info">
                <h2 class="h2-title">{{ section.settings.title }}</h2>

                <ul class="home-about__list">
                    <li>
                        <button class="h6-title active">{{ section.settings.slide_1_name }}</button>
                    </li>

                    <li>
                        <button class="h6-title">{{ section.settings.slide_2_name }}</button>
                    </li>

                    <li>
                        <button class="h6-title">{{ section.settings.slide_3_name }}</button>
                    </li>

                    <li>
                        <button class="h6-title">{{ section.settings.slide_4_name }}</button>
                    </li>

                    <li>
                        <button class="h6-title">{{ section.settings.slide_5_name }}</button>
                    </li>

                    <li>
                        <button class="h6-title">{{ section.settings.slide_6_name }}</button>
                    </li>
                </ul>
            </div>

            <div class="home-about__slider">
                <div class="home-about__slide home-about__placement">
                    {% render "vimeo-image", link: section.settings.slide_1_video, img: section.settings.slide_1_preview, width: 620, height: 350, alt: section.settings.slide_1_preview.alt %}

                    <ul>
                        <li>
                            {% render "vimeo-image", btnStatus: "hidden", link: section.settings.slide_1_video_1, img: section.settings.slide_1_preview_1, width: 204, height: 70, alt: section.settings.slide_1_preview_1.alt %}
                        </li>

                        <li>
                            {% render "vimeo-image", btnStatus: "hidden", link: section.settings.slide_1_video_2, img: section.settings.slide_1_preview_2, width: 204, height: 70, alt: section.settings.slide_1_preview_2.alt %}
                        </li>

                        <li>
                            {% render "vimeo-image", btnStatus: "hidden", link: section.settings.slide_1_video_3, img: section.settings.slide_1_preview_3, width: 204, height: 70, alt: section.settings.slide_1_preview_3.alt %}
                        </li>

                        <li>
                            {% render "vimeo-image", btnStatus: "hidden", link: section.settings.slide_1_video_4, img: section.settings.slide_1_preview_4, width: 204, height: 70, alt: section.settings.slide_1_preview_4.alt %}
                        </li>

                        <li>
                            <a href="{{ section.settings.slide_1_link_url }}" class="button button--primary">{{ section.settings.slide_1_link_text }}</a>
                        </li>
                    </ul>
                </div>

                <div class="home-about__slide home-about__use">
                    {% render "vimeo-image", link: section.settings.slide_2_video, img: section.settings.slide_2_preview, width: 840, height: 426, alt: section.settings.slide_2_preview.alt %}
                </div>

                <div class="home-about__slide home-about__risk">
                    <img src="{{ section.settings.slide_3_image | image_url }}" width="198" alt="{{ section.settings.slide_3_image.alt }}">

                    <div class="content">
                        {{ section.settings.slide_3_content }}
                    </div>

                    <a href="{{ section.settings.slide_3_link_url }}" class="button button--primary">{{ section.settings.slide_3_link_text }}</a>
                </div>

                <div class="home-about__slide home-about__condition">
                    <div class="content">{{ section.settings.slide_4_content }}</div>

                    <ul>
                        <li>
                            <a href="{{ section.settings.slide_4_item_1_link }}">
                                <span class="h6-title">{{ section.settings.slide_4_item_1_title }}</span>
                                <span>{{ section.settings.slide_4_item_1_text }}</span>
                                <span class="button">learn more</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ section.settings.slide_4_item_2_link }}">
                                <span class="h6-title">{{ section.settings.slide_4_item_2_title }}</span>
                                <span>{{ section.settings.slide_4_item_2_text }}</span>
                                <span class="button">learn more</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ section.settings.slide_4_item_3_link }}">
                                <span class="h6-title">{{ section.settings.slide_4_item_3_title }}</span>
                                <span>{{ section.settings.slide_4_item_3_text }}</span>
                                <span class="button">learn more</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ section.settings.slide_4_item_4_link }}">
                                <span class="h6-title">{{ section.settings.slide_4_item_4_title }}</span>
                                <span>{{ section.settings.slide_4_item_4_text }}</span>
                                <span class="button">learn more</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ section.settings.slide_4_item_5_link }}">
                                <span class="h6-title">{{ section.settings.slide_4_item_5_title }}</span>
                                <span>{{ section.settings.slide_4_item_5_text }}</span>
                                <span class="button">learn more</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ section.settings.slide_4_item_6_link }}">
                                <b>{{ section.settings.slide_4_item_6_text }}</b>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="home-about__slide home-about__reviews">
                    <div class="content">{{ section.settings.slide_5_content }}</div>

                    <ul>
                        <li>
                            <div>
                                {% render "star-review", star: section.settings.slide_5_item_1_stars, color: "#5E8593", no_color: "#b3b3b3" %}
                                <span>{{ section.settings.slide_5_item_1_author }}</span>
                            </div>

                            <p><b>{{ section.settings.slide_5_item_1_text }}</b></p>
                        </li>

                        <li>
                            <div>
                                {% render "star-review", star: section.settings.slide_5_item_2_stars, color: "#5E8593", no_color: "#b3b3b3" %}
                                <span>{{ section.settings.slide_5_item_2_author }}</span>
                            </div>

                            <p><b>{{ section.settings.slide_5_item_2_text }}</b></p>
                        </li>

                        <li>
                            <div>
                                {% render "star-review", star: section.settings.slide_5_item_3_stars, color: "#5E8593", no_color: "#b3b3b3" %}
                                <span>{{ section.settings.slide_5_item_3_author }}</span>
                            </div>

                            <p><b>{{ section.settings.slide_5_item_3_text }}</b></p>
                        </li>

                        <li>
                            <div>
                                {% render "star-review", star: section.settings.slide_5_item_4_stars, color: "#5E8593", no_color: "#b3b3b3" %}
                                <span>{{ section.settings.slide_5_item_4_author }}</span>
                            </div>

                            <p><b>{{ section.settings.slide_5_item_4_text }}</b></p>
                        </li>
                    </ul>

                    <a href="{{ section.settings.slide_5_link_url }}" class="button button--primary">{{ section.settings.slide_5_link_text }}</a>
                </div>

                <div class="home-about__slide home-about__trial">
                    <img src="{{ section.settings.slide_6_image | image_url }}" width="198" alt="{{ section.settings.slide_6_image.alt }}">

                    <div class="content">{{ section.settings.slide_6_content }}</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module">
    const initSlide = () => {
        const about = document.querySelector(".home-about");
        const list = about.querySelector(".home-about__list");
        const slider = about.querySelector(".home-about__slider");
        const listButtons = list.querySelectorAll("button");
        const slides = slider.querySelectorAll(".home-about__slide");

        slides.forEach(slide => {
            slide.classList.add("visible-hidden");
        });

        listButtons.forEach((btn, btnIndex) => {
            if (btn.classList.contains("active")) {
                slides[btnIndex].classList.remove("visible-hidden");
            }

            const slideShow = (btnIndex) => {
                slides.forEach((slide, slideIndex) => {
                    if (btnIndex === slideIndex) {
                        slide.classList.remove("visible-hidden");
                    } else {
                        slide.classList.add("visible-hidden");
                    }
                });
            };

            btn.addEventListener("click", (e) => {
                listButtons.forEach(btn => {
                    btn.classList.remove("active");
                });

                slideShow(btnIndex);

                e.target.classList.add("active");
            });
        });
    };

    window.addEventListener("shopify:section:load", initSlide);

    initSlide();
</script>

{% schema %}
{
  "name": "Home About",
  "settings": [
    {
      "type": "header",
      "content": "Main Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image_background",
      "label": "Image Background"
    },
    {
      "type": "header",
      "content": "Slide 1"
    },
    {
      "type": "text",
      "id": "slide_1_name",
      "label": "Slide Name"
    },
    {
      "type": "image_picker",
      "id": "slide_1_preview",
      "label": "Video Preview"
    },
    {
      "type": "text",
      "id": "slide_1_video",
      "label": "Video Link"
    },
    {
      "type": "image_picker",
      "id": "slide_1_preview_1",
      "label": "Video Preview 1"
    },
    {
      "type": "text",
      "id": "slide_1_video_1",
      "label": "Video Link 1"
    },
    {
      "type": "image_picker",
      "id": "slide_1_preview_2",
      "label": "Video Preview 2"
    },
    {
      "type": "text",
      "id": "slide_1_video_2",
      "label": "Video Link 2"
    },
    {
      "type": "image_picker",
      "id": "slide_1_preview_3",
      "label": "Video Preview 3"
    },
    {
      "type": "text",
      "id": "slide_1_video_3",
      "label": "Video Link 3"
    },
    {
      "type": "image_picker",
      "id": "slide_1_preview_4",
      "label": "Video Preview 4"
    },
    {
      "type": "text",
      "id": "slide_1_video_4",
      "label": "Video Link 4"
    },
    {
      "type": "url",
      "id": "slide_1_link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "slide_1_link_text",
      "label": "Link Text"
    },
    {
      "type": "header",
      "content": "Slide 2"
    },
    {
      "type": "text",
      "id": "slide_2_name",
      "label": "Slide Name"
    },
    {
      "type": "image_picker",
      "id": "slide_2_preview",
      "label": "Video Preview"
    },
    {
      "type": "text",
      "id": "slide_2_video",
      "label": "Video Link"
    },
    {
      "type": "header",
      "content": "Slide 3"
    },
    {
      "type": "text",
      "id": "slide_3_name",
      "label": "Slide Name"
    },
    {
      "type": "image_picker",
      "id": "slide_3_image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "slide_3_content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "slide_3_link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "slide_3_link_text",
      "label": "Link Text"
    },
    {
      "type": "header",
      "content": "Slide 4"
    },
    {
      "type": "text",
      "id": "slide_4_name",
      "label": "Slide Name"
    },
    {
      "type": "richtext",
      "id": "slide_4_content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "slide_4_item_1_title",
      "label": "Item 1 Title"
    },
    {
      "type": "text",
      "id": "slide_4_item_1_text",
      "label": "Item 1 Text"
    },
    {
      "type": "url",
      "id": "slide_4_item_1_link",
      "label": "Item 1 Link"
    },
    {
      "type": "text",
      "id": "slide_4_item_2_title",
      "label": "Item 2 Title"
    },
    {
      "type": "text",
      "id": "slide_4_item_2_text",
      "label": "Item 2 Text"
    },
    {
      "type": "url",
      "id": "slide_4_item_2_link",
      "label": "Item 2 Link"
    },
    {
      "type": "text",
      "id": "slide_4_item_3_title",
      "label": "Item 3 Title"
    },
    {
      "type": "text",
      "id": "slide_4_item_3_text",
      "label": "Item 3 Text"
    },
    {
      "type": "url",
      "id": "slide_4_item_3_link",
      "label": "Item 3 Link"
    },
    {
      "type": "text",
      "id": "slide_4_item_4_title",
      "label": "Item 4 Title"
    },
    {
      "type": "text",
      "id": "slide_4_item_4_text",
      "label": "Item 4 Text"
    },
    {
      "type": "url",
      "id": "slide_4_item_4_link",
      "label": "Item 4 Link"
    },
    {
      "type": "text",
      "id": "slide_4_item_5_title",
      "label": "Item 5 Title"
    },
    {
      "type": "text",
      "id": "slide_4_item_5_text",
      "label": "Item 5 Text"
    },
    {
      "type": "url",
      "id": "slide_4_item_5_link",
      "label": "Item 5 Link"
    },
    {
      "type": "text",
      "id": "slide_4_item_6_text",
      "label": "Item 6 Text"
    },
    {
      "type": "url",
      "id": "slide_4_item_6_link",
      "label": "Item 6 Link"
    },
    {
      "type": "header",
      "content": "Slide 5"
    },
    {
      "type": "text",
      "id": "slide_5_name",
      "label": "Slide Name"
    },
    {
      "type": "richtext",
      "id": "slide_5_content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "slide_5_item_1_author",
      "label": "Item 1 Author"
    },
    {
      "type": "range",
      "id": "slide_5_item_1_stars",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Item 1 Stars",
      "default": 5
    },
    {
      "type": "text",
      "id": "slide_5_item_1_text",
      "label": "Item 1 Text"
    },
    {
      "type": "text",
      "id": "slide_5_item_2_author",
      "label": "Item 2 Author"
    },
    {
      "type": "range",
      "id": "slide_5_item_2_stars",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Item 2 Stars",
      "default": 5
    },
    {
      "type": "text",
      "id": "slide_5_item_2_text",
      "label": "Item 2 Text"
    },
    {
      "type": "text",
      "id": "slide_5_item_3_author",
      "label": "Item 3 Author"
    },
    {
      "type": "range",
      "id": "slide_5_item_3_stars",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Item 3 Stars",
      "default": 5
    },
    {
      "type": "text",
      "id": "slide_5_item_3_text",
      "label": "Item 3 Text"
    },
    {
      "type": "text",
      "id": "slide_5_item_4_author",
      "label": "Item 4 Author"
    },
    {
      "type": "range",
      "id": "slide_5_item_4_stars",
      "min": 0,
      "max": 5,
      "step": 1,
      "label": "Item 4 Stars",
      "default": 5
    },
    {
      "type": "text",
      "id": "slide_5_item_4_text",
      "label": "Item 4 Text"
    },
    {
      "type": "url",
      "id": "slide_5_link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "slide_5_link_text",
      "label": "Link Text"
    },
    {
      "type": "header",
      "content": "Slide 6"
    },
    {
      "type": "text",
      "id": "slide_6_name",
      "label": "Slide Name"
    },
    {
      "type": "image_picker",
      "id": "slide_6_image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "slide_6_content",
      "label": "Content"
    }
  ]
}
{% endschema %}
