<style>
    .home-products {
        padding: 100px 0;
        color: var(--grays1);
        background-color: var(--grays6);
    }

    .home-products__header {
        margin: 0 0 40px;
        text-align: center;
        color: var(--primary5);
    }

    .home-products__header > *:not(:last-child) {
        margin: 0 0 24px;
    }

    .home-products__list {
        display: flex;
        justify-content: center;
    }

    .home-products__list > li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        padding: 0 20px;
        width: 33.33%;
    }

    .home-products__list ul,
    .home-products__list ol {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 16px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--grays4);
    }

    .home-products__list .button {
        margin-top: auto;
        align-self: center;
    }

    .home-products__list ul > li,
    .home-products__list ol > li {
        color: var(--primary2);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
    }

    .home-products__list > li:not(:last-child) {
        box-shadow: inset -1px 0 0 0 var(--grays4);
    }

    @media screen and (max-width: 768px) {
        .home-products {
            padding: 80px 0;
        }

        .home-products__header > *:not(:last-child) {
            margin: 0 0 16px;
        }

        .home-products__list {
            flex-direction: column;
            gap: 40px;
        }

        .home-products__list > li {
            width: 100%;
            padding: 0;
        }

        .home-products__list .button {
            align-self: stretch;
        }

        .home-products__list > li:not(:last-child) {
            box-shadow: none;
        }
    }
</style>

{{ "single-product.css" | asset_url | stylesheet_tag }}
{{ "compare-price.css" | asset_url | stylesheet_tag }}
{{ "tag.css" | asset_url | stylesheet_tag }}

<section class="home-products">
    <div class="container">
        <div class="home-products__header">
            <h2 class="h2-title">{{ section.settings.title }}</h2>
            <p>{{ section.settings.subtitle }}</p>
        </div>

        <ul class="home-products__list">
            {% for block in section.blocks %}
                <li>
                    {% if block.settings.product != blank %}
                        {% render "single-product", product: block.settings.product %}
                    {% endif %}

                    {{ block.settings.description }}

                    {% if block.settings.product != blank %}
                        <a class="button button--primary" href="{{ block.settings.product.url }}">learn more</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% schema %}
{
  "name": "Home Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "block",
      "limit": 3,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
