<style>
    .hero {
        position: relative;
        color: var(--grays6);
        background-color: var(--primary5);
        overflow: hidden;
    }

    .hero__block {
        padding: 150px 0 125px;
    }

    .hero__item {
        width: 100%;
        max-width: 620px;
    }

    .hero__item > *:not(:last-child) {
        margin: 0 0 40px;
    }

    .hero__item-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .hero__pagination {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 768px) {
        .hero__block {
            padding: 160px 0;
        }

        .hero__item > *:not(:last-child) {
            margin: 0 0 32px;
        }

        .hero__pagination {
            top: auto;
            bottom: 40px;
            justify-content: center;
        }

        .hero__pagination .swiper-pagination {
            flex-direction: row;
        }

        .hero__pagination .swiper-pagination-bullet {
            margin: 0 12px !important;
        }

      video.hero__item-bg {
        object-position: left top;
      }
    }

    @media screen and (max-width: 425px) {
        .hero__block .button {
            width: 100%;
        }
    }
</style>

<section class="hero">
    <div class="hero__swiper">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide">
                    <div class="hero__block">
                        <div class="container">
                            <div class="hero__item">
                                <h2 class="h1-title">{{ block.settings.title }}</h2>

                                <p>{{ block.settings.content }}</p>

                                {% if block.settings.image %}
                                    <img class="hero__item-image" src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}">
                                {% endif %}

                                {% if block.settings.button_link_text != blank %}
                                    <a class="button button--primary"
                                       href="{{ block.settings.button_link }}">
                                        {{ block.settings.button_link_text }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        {% if block.settings.bg_image %}
                            <img class="hero__item-bg" src="{{ block.settings.bg_image | image_url }}" alt="{{ block.settings.bg_image.alt }}">
                        {% endif %}

                        {% if block.settings.bg_video %}
                            <video class="hero__item-bg" autoplay loop muted
                                   src="{{ block.settings.bg_video.sources[1].url }}"></video>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container hero__pagination">
            <div class="swiper-pagination swiper-pagination--vertical"></div>
        </div>
    </div>
</section>

<script type="module">
    const initSlider = () => {
        new Swiper('.hero__swiper', {
            slidesPerView: 1,

            autoHeight: true,

            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    };

    document.addEventListener("shopify:section:load", initSlider);

    initSlider();
</script>


{% schema %}
{
  "name": "Home Hero Slideshow",
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "video",
          "id": "bg_video",
          "label": "Background Video"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
        {
          "type": "header",
          "content": "Slide Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Paragraph"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_link_text",
          "label": "Button text"
        }
      ]
    }
  ]
}
{% endschema %}

