{{ "advantages-icons.css" | asset_url | stylesheet_tag }}

<div class="advantages-icons">
    <div class="container">
        <ul>
            <li>{{ "happy-customers.png" | asset_url | img_tag }}</li>
            <li>{{ "fda-registered.png" | asset_url | img_tag }}</li>
            <li>{{ "user-rating.png" | asset_url | img_tag }}</li>
            <li>{{ "clinical-trial.png" | asset_url | img_tag }}</li>
            <li>{{ "made-usa.png" | asset_url | img_tag }}</li>
            <li>{{ "money-back.png" | asset_url | img_tag }}</li>
        </ul>
    </div>
</div>
