<div class="wrapper">
  {% if section.settings.testimonials-heading != '' %}<h1>{{ section.settings.testimonials-heading }}</h1><hr />{% endif %}
  {% for block in section.blocks %}
      {% assign star_rating = block.settings.star-rating %}
      <div>
        <br><br>
        {% for rating in (1..5) limit:star_rating  %}
            <img src="{{ 'testimonial-star.png' | asset_img_url: 'master' }}" />
        {% endfor %}
        <br><br>
      </div>
      {% if block.settings.testimonial-heading != '' %}<h4>"{{ block.settings.testimonial-heading }}"</h4>{% endif %}
      {% if block.settings.testimonial != '' %}<p>{{ block.settings.testimonial }}</p>{% endif %}
      {% if block.settings.testimonial-author != '' %}<p>{{ block.settings.testimonial-author }}</p>{% endif %}
  	  <br>
      <hr />
  {% endfor %}
</div>
{% if section.settings.button-text != '' %}<div class="btn-wrapper"><button type="button" onclick="location.href='{% if section.setting.button-link != blank %}{{ section.settings.button-link }}{% else %}#buy{% endif %}';"><span>{{ section.settings.button-text }}</span></button></div>{% endif %}

{% schema %}
{
  "name": "Testimonials",
    "settings": [
      {
         "type": "text",
         "id": "testimonials-heading",
         "label": "Testimonials Heading"
      },
      {
         "type": "text",
         "id": "button-text",
         "label": "Button Text"
      },
      {
        "id": "button-link",
        "type": "url",
        "label": "Button link"
      }
	],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
              "type": "range",
              "id": "star-rating",
              "min": 1,
              "max": 5,
              "step": 1,
              "unit": "/5",
              "label": "Rating",
              "default": 5
          },
          {
             "type": "text",
             "id": "testimonial-heading",
             "label": "Testimonial Heading"
          },
          {
             "type": "textarea",
             "id": "testimonial",
             "label": "Testimonial"
          },
          {
             "type": "text",
             "id": "testimonial-author",
             "label": "Testimonial Author"
          }
        ]
      }
    ]
}
{% endschema %}
<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/vzvnSVMnInK45LS8EULZhISavZPQwk111Cmo1atm/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
<div id="yotpo-testimonials-custom-tab"></div>