  <div class="wrapper">
    <ul class="gallery grid-uniform">
      {% for block in section.blocks %}
      <li class="grid__item one-quarter" {{ block.shopify_attributes }}>
        <div>
          {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" target="_blank">
            {% endif %}
            {% if block.settings.image != blank %}
            {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="no-js lazyload"
                 data-src="{{ img_url }}"
                 data-widths="[108, 360, 375, 414, 568, 684, 720, 732, 736, 768, 1024, 1200, 1296, 1512, 1728, 1944, 2048]"
                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 data-parent-fit="width"              
                 alt="{{ block.settings.image.alt | escape }}">
            <noscript>
              <img src="{{ block.settings.image | img_url: '580x' }}"
                   srcset="{{ block.settings.image | img_url: '580x' }} 1x, {{ block.settings.image | img_url: '580x', scale: 2 }} 2x"
                   alt="{{ block.settings.image.alt }}" style="opacity:1;">
            </noscript>
            {% else %}
            {{ 'logo' | placeholder_svg_tag: 'clients-list placeholder-svg' }}
            {% endif %}

            {% if block.settings.link != blank %}
          </a>
          {% endif %}

        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

{% schema %}
{
  "name": "Gallery",
  "max_blocks": 20,
  "blocks": [
    {
      "type": "gallery_image",
      "name": "Gallery Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]
}
{% endschema %}
