<div style="background-image:url('{{ section.settings.banner-image | img_url: 'master' }}')" class="landing-banner">
  <div class="content-container">
    <div class="wrapper">
    	<h1>{{ section.settings.banner-heading }}</h1>
    	<p>{{section.settings.banner-text}}</p>
    </div>
  </div>
</div>
  <div class="content-container">
    <div class="buy-now-columns">
      <!--<a href="#bundle" class="inline-popup product-link">-->
      <a onclick="bundle('34127408169091','false')" class="product-link">  
      	<img src="{{ section.settings.banner-buy-now | img_url: 'master' }}" />
      </a>
      <div class="gallery">
        <div class="gallery-items">
        	{% for block in section.blocks %}
  
           	<img src="{{ block.settings.gallery-image | img_url: '200x' }}" alt="{{ block.settings.image.alt }}" />

            <!-- output a header with text -->
            {% endfor %}
        </div>
        <p>*Do not use if you have a pacemaker or are pregnant.</p>
      </div>
    </div>
  </div>

<div id="bundle" class="white-popup mfp-hide">
	<div class="popup-inner">
      <div>
        <span class="special">Special Offer!</span>
        <div class="rate">
        	<span class="number">45</span>
            <span class="percent">%</span>
            <span class="off">OFF</span>
        </div>
        <img class="special-image lazyload" data-src="https://cdn.shopify.com/s/files/1/0121/1537/8238/products/add-on-packet_bf87c691-3884-4f39-b796-3935af57f5be.jpg" />
      </div>
      <div>
      	<span class="act-now">Act Now and Get...</span>
        <span class="offer">1 More Kailo bundle for 45% OFF!</span>
        <br><span class="original-price">$119 Value</span>
        <span class="new-price">Special Add-on Price = $65.45!</span>
        <hr />
        <div class="yes-bundle"><button onclick="bundle('34127408169091','true')"><span>Yes, I Want This!</span></button></div>
        <div class="no-thanks"><a onclick="bundle('34127408169091','false')">No, I Don't Want This Special Offer.</a></div>
      </div>
  	</div>
</div>

<script type="text/javascript">
function bundle(product_id, bundle) {	
  
    jQuery.ajax({
      type: "POST",
      url: '/cart/add.js',
      data: {
        quantity: 1,
        id: product_id
      },
      async: false
    });
  
    if(bundle == 'true') {
        jQuery.ajax({
          type: "POST",
          url: '/cart/add.js',
          data: {
              quantity: 1,
              id: 32251489255555
            },
          async: false
        });
    }
  
  	location.href='/cart';
};
</script>
{% schema %}
  {
    "name": "Banners",
    "settings": [
      {
         "type": "text",
         "id": "banner-heading",
         "label": "Banner Heading"
      },
      {
        "type": "image_picker",
        "id": "banner-image",
        "label": "Banner Image",
		"info": "1920px wide recommended"
      },
	{
		"type": "html",
		"id": "banner-text",
		"label": "Banner Text",
		"info": "Enter banner text"
	},
	{
        "type": "image_picker",
        "id": "banner-buy-now",
        "label": "Buy Now"
      }
	],

    "blocks": [

    {

        "name": "Gallery",

        "type": "gallery-image",
        "limit" : 6,
        "settings": [

            {

            "type": "image_picker",

            "id": "gallery-image",

            "label": "Gallery Image"

            }

        ]

    }

    ]
  }
{% endschema %}

{% javascript %}
$('.inline-popup').magnificPopup({
  type:'inline',
  midClick: true
});
{% endjavascript %}
