{{ "catalog.css" | asset_url | stylesheet_tag }}
{{ "tag.css" | asset_url | stylesheet_tag }}
{{ "compare-price.css" | asset_url | stylesheet_tag }}

<div class="catalog">
    {% assign collectionName = collection.title %}
    {% assign productsCount = collection.products | size %}

    {% render "top-logo", title: collectionName, text: "Your pain deserves the right solution" %}

    <div class="catalog__wrapper">
        <div class="container">
            <div class="catalog__menu">
                {% render "breadcrumbs", prevName: "Collections", prevUrl: routes.collections_url, current: collectionName %}

                <div class="catalog__sort-by">
                    <span>Showing  all {{ productsCount }} results</span>

                    <div class="catalog__select">
                        <select id="sort-by">
                            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

                            {% for option in collection.sort_options %}
                                <option value="{{ option.value }}"
                                        {% if option.value == sort_by %}selected{% endif %}>
                                    {{ option.name }}
                                </option>
                            {% endfor %}
                        </select>

                        {% render "icon-chevron" %}
                    </div>
                </div>
            </div>


            {% if productsCount == 0 %}
                <p>No active products here.</p>
            {% else %}
                <ul class="catalog__list">
                    {% for product in collection.products %}
                        {% assign productImagesSize = product.images | size %}

                        <li>
                            {% form "product", product %}
                                <input class="visible-hidden" type="hidden" name="id"
                                       value="{{ product.variants.first.id }}"/>
                                <input class="visible-hidden" min="1" type="hidden" name="quantity" value="1"/>

                                <div class="catalog__product">
                                    {% if product.compare_at_price %}
                                        <span class="tag tag--authorized">sale</span>
                                    {% endif %}
                                    <a href="{{ product.url }}" class="catalog__product-img">
                                        {% if productImagesSize > 1 %}
                                            <img src="{{ product.images[0] | image_url }}"
                                                 alt="{{ product.images[0].alt }}">
                                            <img src="{{ product.images[1] | image_url }}"
                                                 alt="{{ product.images[1].alt }}">
                                        {% else %}
                                            <img src="{{ product.featured_image | image_url }}"
                                                 alt="{{ product.featured_image.alt }}">
                                        {% endif %}
                                    </a>

                                    <div class="catalog__product-info">
                                        <a href="{{ product.url }}" class="button-text">{{ product.title }}</a>

                                        <div class="catalog__product-bottom">
                                            <div class="catalog__product-price">
                                                {% render "compare-product-price", product: product %}
                                            </div>

                                            <div class="catalog__product-buttons">
                                                <button type="submit">
                                                    {% render "icon-cart" %}
                                                    Add To Cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endform %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<script>
    Shopify.queryParams = {};

    // Preserve existing query parameters
    if (location.search.length) {
        var params = location.search.substr(1).split('&');

        for (var i = 0; i < params.length; i++) {
            var keyValue = params[i].split('=');

            if (keyValue.length) {
                Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
            }
        }
    }

    // Update sort_by query parameter on select change
    document.querySelector('#sort-by').addEventListener('change', function (e) {
        var value = e.target.value;

        Shopify.queryParams.sort_by = value;
        location.search = new URLSearchParams(Shopify.queryParams).toString();
    });
</script>
