<style>
    .science-behind {
        text-align: center;
        padding: 80px 0 0;
    }

    .science-behind__header {
        max-width: 620px;
        margin: 0 auto 60px;
    }

    .science-behind__header > *:not(:last-child) {
        margin: 0 0 24px;
    }

    .science-behind__subtitle {
        color: var(--primary1);
    }

    .science-behind img {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        .science-behind {
            padding: 60px 0 0;
        }

        .science-behind__header {
            margin: 0 auto 40px;
        }

        .science-behind__header > *:not(:last-child) {
            margin: 0 0 16px;
        }
    }
</style>

<section id="more" class="science-behind">
    <div class="container">
        <div class="science-behind__header">
            {% if section.settings.title != blank %}
                <h2 class="h2-title title-decorator">{{ section.settings.title }}</h2>
            {% endif %}

            {% if section.settings.description != blank %}
                <div class="content">{{ section.settings.description }}</div>
            {% endif %}
        </div>

        {% if section.settings.subtitle != blank %}
            <h4 class="h4-title science-behind__subtitle">{{ section.settings.subtitle }}</h4>
        {% endif %}
    </div>

    {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}">
    {% endif %}
</section>

{% schema %}
{
  "name": "Science Behind",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
