{% if section.settings.faq-heading != '' %}<h1>{{ section.settings.faq-heading }}</h1>{% endif %}
<div class="btn-wrapper">{% if section.settings.button-text != '' or section.setting.button-link != blank %}<button type="button" onclick="location.href='{{ section.settings.button-link }}';"><span>{{ section.settings.button-text }}</span></button>{% endif %}</div>
<div class="wrapper">
  {% for block in section.blocks %}
      {% if block.settings.faq-question != '' %}<h3 class="accordion{% if forloop.first %} active{% endif %}">{{ block.settings.faq-question }}</h3>{% endif %}
      {% if block.settings.faq-answer != '' %}
        <div class="panel"{% if forloop.first %} style="max-height:100%;"{% endif %}>
          <p>{{ block.settings.faq-answer }}</p>
        </div>
      {% endif %}
  {% endfor %}
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
{% schema %}
{
  "name": "FAQs",
    "settings": [
      {
         "type": "text",
         "id": "faq-heading",
         "label": "FAQs Heading"
      },
      {
         "type": "text",
         "id": "button-text",
         "label": "Button Text"
      },
      {
        "id": "button-link",
        "type": "url",
        "label": "Button link"
      }
	],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
             "type": "text",
             "id": "faq-question",
             "label": "FAQ Question"
          },
          {
             "type": "textarea",
             "id": "faq-answer",
             "label": "FAQ Answer"
          }
        ]
      }
    ]
}
{% endschema %}