<!-- <style>
  li { 
    float: left;
  }

  li a {
    display: block;
    padding-right: 20px;
  }
  
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  
  * {
  box-sizing: border-box;}

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
</style> -->

<div id="Blog" > </div>
{% capture header_title %}{{ "News" }}{% if current_tags %} - {{ current_tags.first }}{% endif %}{% endcapture %}
{% include 'page_header' with header_title %}

<!-- <div class="wrapper">
<ul>
  <li><a class="#Blog" href="#"><b>Blogs</b></a></li>
  <li><a href="#PressRelease">Press Release</a></li>
  <li><a href="#News">Kailo In the News</a></li>
</ul>
</div><br/> -->

<div class="wrapper">
  {% if settings.blog_rss_enabled %}
    <div class="subscribe-link"><span class="label">
      {{ 'general.sharing.rss_subscribe' | t }}</span><a href="{{ blog.url }}.atom" target="_blank">
      {% include 'asset_svg' with 'rss' %}</a></div>
  {% endif %}

  {% paginate blog.articles by 5 %}

    <div class="blog-list">
      {% for article in blog.articles %}
        {% include 'blog_item' with blog.comments_enabled? %}
      {% endfor %}
    </div>

    {% if paginate.next.is_link %}
      <div id="infinite-link"><a class="btn btn--large btn--outline btn--dark" href="{{ paginate.next.url }}">More posts</a></div>
    {% endif %}

  {% endpaginate %}  
</div>
<br/>


<!-- <div id="PressRelease"></div>
{% capture header_title %}{{"Press Releases" }}{% if current_tags %} - {{ current_tags.first }}{% endif %}{% endcapture %}
{% include 'page_header' with header_title %}
<!-- <div class="wrapper"> 
<ul>
  <li><a class="#Blog" href="#">Blogs</a></li>
  <li><a href="#PressRelease"><b>Press Release</b></a></li>
  <li><a href="#News">Kailo In the News</a></li>
</ul>
</div>
 -->
<!-- <div class="wrapper">
  <div class="row" >
  <div class="column">
    <div class="card">...</div>
  </div>
  <div class="column">
    <div class="card">...</div>
  </div>
  <div class="column">
    <div class="card">...</div>
  </div>
  <div class="column">
    <div class="card">...</div>
  </div>
</div>
</div>
<br/>

<div id="News"></div>
{% capture header_title %}{{ "Kailo In the News" }}{% if current_tags %} - {{ current_tags.first }}{% endif %}{% endcapture %}
{% include 'page_header' with header_title %} -->

<!-- <div class="wrapper">
<ul>
  <li><a class="#Blog" href="#">Blogs</a></li>
  <li><a href="#PressRelease">Press Release</a></li>
  <li><a href="#News"><b>Kailo In the News</b></a></li>
</ul>
</div> -->



<!-- <div id="band" class="container text-center">
  <h3>Kailo</h3>
  <p><em>Kailo is an innovative, non-transdermal technology that looks and acts like a pain patch.</em></p>
  <p>Kailo is far more than just a business for us, it's changed thousands of lives already. We offer a no-hassle, 100% money-back guarantee. If you feel Kailo isn't working for you within 90 days,​ we'll gladly take it back. Before returning your Kailo, we would love a chance to make sure you've found the correct placement. Over 90% of our customers have found an increase in comfort. 
    Our goal is to help everyone get relief.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><a href="/pages/contact-us"><strong>Please contact us at support@gokailo.com</strong></strong></a></p><br>          
    </div>
  </div>
</div> -->







