{% render 'anchorToProducts' %}

<style>
  .wrapper {
    max-width:1300px;
  }
  .main-content {
    overflow:inherit;
  }
  
  
  h1 {
  	font-size: 2.5em; 
  }
  h3 {
  	font-size: 1.5em; 
  } 
  p {
 	font-size:1.3em;
  }
  section {
  margin-bottom:30px;
  }
  .med-font {
  	font-size:1.6em;
  }
  .kailo-landing, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
   	color:#333;
    font-weight:600 !important;
    line-height:normal;
  }
  .kailo-landing button, .yes-bundle button {
    background: linear-gradient(to bottom,#f3ce75 0,#edb52f 100%)!important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 0 0 1px; 
   
    border:solid 1px #c2ac72;    
    border-radius:10px;
    color:#fff;
    padding:.7em 0px;
    font-size:1.2em;
    font-weight:600;
    margin:20px 0px;
  }
  .productBtn {
     padding:.6em 30px !important;
}
   
  .kailo-landing button span, .yes-bundle button span {
  	
    border-radius:10px;
    color:#000;
    padding:.8em 1.2em;
    font-size:1rem;
    font-weight:700;
    /*background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);    */
  }
  /* section 1 with video */
	.topMargin {
      padding-top:50px;
    }
  .col-main {
    flex: 1;  
  }  
  .col-complementary {
    flex: 1;  
  }
  .right {
    text-align: right;
  }
  .featureIcons {
   background-color: #e3e1db;
    padding:20px 0px; 
    position:relative;
  }
  .featureIcons img {
    width:80%;
    margin:auto 0px;
  }  
  .prinInvestigator {
   background-color: #292929;
    padding:30px 0px 0px;  
    vertical-align: bottom;
    color:#fff !important;     
  } 
  .prinInvestigator .col-complementary {
    padding:20px;
  }
  .prinInvestigator img {
    vertical-align:bottom;
  }
  .prinInvestigator .col-main {
    padding:0em;
    text-align:center;
  }
  .center {
    text-align:center;
    padding:30px 15px 30px 15px;
  }
  
  .features {
    width:90%;
  }
  .features img {
    margin-top:40px;
  }
  
  /* Products */
  
  .pricing {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  width: 100%;
  background:#fff;
 
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid #999;
  margin: 0px 3px 10px 0px;
  color:#000;
}

 
.mt-20{ margin-top:20px !important;}
  
.productImg_1bundle {
  width:40%;
  margin:15px auto;
}
  .productImg_3bundle {
  width:70%;
  margin:15px auto;
}
.productImg_5bundle {
  width:90%;
  margin:15px auto;
}  

.pricing-card-heading {
  padding: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.pricing-card-heading-free {
  
  color: #000;
  border-top-left-radius: 8px;
  border-top-right-radius:8px;  
}
  
  #offer .bundle-title{
  font-size: 1.25rem;
    color: #474747;
    padding-bottom: 4px;
}

  .pricing-card-heading-lite{
  letter-spacing:1px;
    background: #e43;
   color:#fff;
   
    text-align: center;
    -webkit-box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.3);
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    
    z-index: 90;
  }

  #offer .bundle-container .promo-text{
  font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}


  
  }
  

.pricing-card-heading-lite {
  background-color:#e54b37;
  color: #fff;
 
}

.pricing-card-heading-pro {
  background-color:#58aa61;
  color: #fff;
 
}

.pricing-card-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.pricing-card-list-item {
  position: relative;
}

.pricing-card-highlight {
  background-color: #d1dfe5;
  border-color: #565656;
}
.pricing-card-highlight .pricing-card-btn {
  border: none;
  color: #fff;
  background-color: #27264b;
}

.pricing-card-highlight .pricing-card-btn:hover {
  background-color: #9390db;
}

.pricing-card-price {
  text-align: center;
 font-size:16px;
  
  
  margin: 15px;
}
.sale {
  text-decoration: line-through;
  font-size:1em;

  }

.pricing-card-price-text {
  font-weight: 400;
  
}
.freeShipping { 
  width:70%;
  margin:0px auto;
}
  .white {
    color:#fff;
  }
  .green {
    color:#387e24;
    font-weight:bold;
  }
 
  /* etc */
  .container {
    margin-right: auto;
    margin-left: auto;
  }
  .col {
    padding: 1em 0px;
    margin: 0 2px 2px 0;    
  }
  
  /* HIDE LIVE CHAT BUTTON IN LOWER RIGHT CORNER */  
  #launcher, button.u-userLauncherColor {
    display:none !important;
  }
  /* SLIDER */
  .kailo-content-slider .slick-dots{
  	display:flex !important;
    justify-content:center;
  }
  .kail-image-slider button.slick-arrow{
  	position: absolute;
    top: 50%;
    display:none !important;
  }
  
  .kail-image-slider .slick-slide{
  	padding:0 10px;
  }
  .slick-dots{
  	margin-top:1rem;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
  
  .image-container.m-0{ margin:0px !important;}

.slick-dots li button {
    font-size: 0;
  
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: "";
    font-size: 22px;
    border-radius: 10px;
    border: solid 1px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    text-align: center;
    color: black;
}
  
  .pt-10{ padding-top:10px;}
  
 .slick-dots li.slick-active button:before {
    background-color:black;
}
.footer {
  background-color:#928159;
  padding:0px;
}
  #shopify-section-content-video, #landing-video{
  	width:100%;
    height:100%;
  }
  #shopify-section-content-video iframe{
  	width:90%;
    height:90%;
  }
  #landing-video{
  	/* display: flex; */
    justify-content: end;
    align-items: flex-start;
  }

  
  /* Responsive: */
  @media only screen and (min-width: 640px) {
    .layout {
      display: flex;
    }
  .features img {
    width:75%
   } 
  .mobile {
    display:none;
   }
  
    
  }
  
  
  @media only screen and (max-width: 640px) {
    
     .kailo-landing button, .yes-bundle button {
    margin: 20px 20% !important;
   
}
  .med-font {
  	font-size:1.2em;
   }
   .pricing {
   	display:initial;
   } 
	.topMargin {
      text-align:center;
    }
  .col-complementary {
    text-align:center;
    width:100%;
   } 
  .desktop {
    display:none;
   }
  .colMobile {
    text-align:left;
    padding: 1em 1em 1em 0;
  } 
  .pricing-card {
    flex-direction: inherit;
    align-items: center;
    padding: 15px 0px;
  }
  .mobile .pricing-card li  {
	font-size:.7em;
    text-align:left;
  } 
  #landing-video{
    height: 210px;
  }    
#shopify-section-content-video iframe {
  width:100% !important;
}
    
.ribbonParent {
  overflow: hidden; /* required */
  position: relative; /* required  for demo*/
}

.ribbon {
  margin: 0;
  padding: 0;
  /*background: rebeccapurple;*/
  color:#fff;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  font-size:10px;
  font-weight:100;
}
.ribbon.red {
  background:red;
}
.ribbon.green {
  background:green;
}    
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  /*background: rebeccapurple;*/
}
.ribbon:before {
  right:100%;
} 
.ribbon.red:before,
.ribbon.red:after {
  background:red;
}
.ribbon.green:before,
.ribbon.green:after {
  background:green;
}    
    
}
  .slider_top{
  background-color: #f6f4f0;
  }
  
 #logo .site-logo img {
    width: auto;
    margin: 0 auto;
    display: block;
}
  
  #logo {
    border-bottom: 2px solid #f1f1f1;
}
  #logo .site-logo {
    margin: 15px auto;
}
  
  .main-heading{
    color: #434339;
    font-weight: 700;
    margin-bottom: 20px;
    font-size:50px;
  }
  .bodycopy{
  color: #434339;
    line-height: 1.5;
    margin-bottom: 25px;
}
  
  .grid-container {
    padding: 30px;
}
  
  .featureIcons .image-container .inner .image img.no-color {
    filter: grayscale(100%) brightness(0) contrast(40%);
}
  .featureIcons .divider {
    position: relative;
    width:50px
}
  
  .flex-row {
    display: flex;
}
  
  .featureIcons .divider:after {
    content: '';
    border-right: 1px solid #cbcac9;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -1px;
    height: 80%;
    width: 1px;
}
  
  
  .featureIcons .divider:last-child {
    display: none;
}
  
  .inner .caption .text-group .caption-heading {
    color: #434339;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.inner.caption-position-right .caption .text-group {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
  
  .inner .caption .text-group .caption-heading {
    color: #434339;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

  section.slider_top.mb-0 {
    margin-bottom: 0px;
}
  .mb-5{ margin-bottom:5px;}
  .mb-30{ margin:30px 0;}
  
  .inner.caption-position-right {
    display: flex;
}
  
  .grid {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
  
  
  .image-container {
    flex: 1;
    text-align: center;
    position: relative;
}
  
  .featureIcons  .image-container .inner .image {
    width: 110px;
    max-width: 110px;
}
  .image-container {
    flex: 1;
    text-align: center;
    position: relative;
    z-index:1111;
}
 
  
  .image-container .inner .caption .text-group .caption-heading {
    font-size: 1.125rem;
    line-height:1.125;
    text-align: left;
    
}
  .grid-container .grid .image-container .inner.caption-position-right .image {
    flex: 1;
}
  
  
  .image-container .inner.caption-position-right .caption {
    flex: 1;
    padding: 0 10px;
}
  
  .block-content .caption-copy {
    text-align: left;
}
  .feature-grid-block .grid-container[data-display-type=image_grid] .caption {
    padding: 15px 0 0;
}
  
  .featureIcons  .grid .image-container .inner .image img {
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
  
  .grid-container .grid .image-container {
    flex: 1;
    text-align: center;
    /* position: relative; */
}
  .inner.caption-position-right .caption .text-group .caption-copy {
    text-align: left;
}
  
  .pb-0{ padding-bottom:0px;}
  .grid-container .grid .divider:last-of-type {
    display: none;
}
  .icon-strip-block .grid-container .grid .image-container {
    flex: 1;
    text-align: center;
    position: relative;
}
  
  .grid-container .grid .image-container {
    flex: 1;
    text-align: center;
    position: relative;
}
   .heading {
    color: #434339;
    font-weight: 700;
    text-align: center;
     font-size: 2rem;
     margin-bottom:7px;
}
  .pt-0{ padding-top:0px;}
  .med-font{ font-size: 1.125rem;
    line-height: 1.667;}
  
  .how_does{ padding: 50px 5%!important; position:relative;}
  
  .how_does .new_div{
    display: flex;
    margin-bottom: 1.75em;
    box-sizing: border-box;
    flex-wrap: no-wrap;
  }
  
  .icon-strip-block .grid-container .grid .image-container .inner .image {
    width: 80px;
    max-width: 80px;
}
  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner {
    padding: 0 0 30px;
}
  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .divider {
    display: none;
}
  
  h2.demi-heading{ 

font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 17px;
    margin-bottom: 10px!important;
    position: relative;
    color: #857550;
position:relative;}


button.productBtn.custom-btn {
    width: 90%;
}
  
  button.productBtn.custom-btn span {
    
    font-size: 1.5em;
}
  
  .new-items{
  border-right: 1px solid rgba(0,0,0,.1);
    position:relative;
  }
  .new-items_dev{
    margin-left: 34px;
  }
 
  .feature-2-column-block .column-1 {
    flex: 0 0 50%!important;
    max-width: 50%!important;
}
  
  .feature-2-column-block {
    display: flex;
    width: 100%;
}
  
  button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
    display: none !important;
}
  
  .demi-heading{
    position:relative;
 font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 17px;
    margin-bottom: 10px!important;
    position: relative;
    color: #857550;
}


  
  .main-heading{
  color: #434339;
    font-weight: 700;
    margin-bottom: 20px;
  font-size:2rem;
  position: relative;
    padding-left: 5px;
  line-height: 1.1;}
  
  .demi-heading:after{
  content: '';
    border-top: 2.5px solid #857550;
    width: 30px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left:0;
  }
  
  .icon-strip-block .grid-container .grid {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
  
  .wp-block-button__link {
    padding: 15px 25px;

    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;

    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000!important;
    text-shadow: 0 1px 1px rgb(255 255 255 / 50%);
    background: rgba(255,255,255,.1)!important;
    background: linear-gradient(to bottom,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%)!important;
    box-shadow: 0 0 0 1px #333 inset;
}


  
  .feature-2-column-block .block-content .image-container.full-bleed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    padding: 0;
}
  .feature-2-column-block .block-content .column-1 {
    flex: 0 0 50%!important;
    max-width: 50%!important;
}
   .feature-2-column-block .block-content {
    flex-direction: row-reverse;
}
 .text-group .subhead:after {
    content: '';
    border-top: 2.5px solid #857550;
    width: 30px;
    height: 1px;
    position: absolute;
    bottom: 0;
   left:0;
}
  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .image {
    margin: 0 auto 0px;
}
  .icon-strip-block .grid-container .grid {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
  .no-color{
  filter: grayscale(100%) brightness(0) contrast(40%);
   
}
  
  .icon-strip-block .block-content .section-content .wp-block-group__inner-container {
    transform: none;
    top: 0;
    padding:0px;
}
  .text-group .headings {
    color: #434339;
    font-weight: 700;
    margin-bottom: 20px;
}
  
  .text-group .subhead {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 17px;
    margin-bottom: 10px;
    position: relative;
    color: #857550;
}
  .feature-grid-block .grid-container[data-display-type=image_grid] .grid {
    display: inline-flex;
}
  
  .feature-grid-block .section-heading .heading {
    padding-top: 50px;
}
  .grid-container[data-id="6259ba22f29da"]:not([data-display-type="slideshow"]) .grid {
    margin: -15px 0 0 -15px;
    width: calc(100.005% + 10px);
}
  
  .feature-grid-block .grid-container {
    max-width: 980px;
    margin: 40px auto 0;
}

  
  .kail-image-slider .slick-prev {
    left: -30px;
    position: absolute;
    top: 27%;
    font-size: 52px;
    cursor:pointer;

}
  
  .kail-image-slider .slick-next {
    right: -30px;
    position: absolute;
    top: 27%;
    font-size: 52px;
    cursor:pointer;

  }
  .review h4 a{ color:#000;}

  .mb-0{margin-bottom:0px;}
  
 .feature-2-column-block .block-content {
    display: flex;
    width: 100%;
}
  
  .text-group .wp-block-group__inner-container {
    transform: translateY(-50%);
    top: 50%;
    padding: 50px 10%;
}
  
 .wp-block-group__inner-container {
    position: relative;
    width: 100%;
    height: 100%;
}
  
  .grid-container:not([data-display-type="slideshow"]) .grid {
            margin: -15px 0 0 -15px;
            width: calc(100.005% + 10px);
        }
        .grid-container:not([data-display-type="slideshow"]) .grid .image-container {
            margin: 20px 0 0 20px;
            /*flex: 1 0 calc(33.333333% - 20px);*/
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(33.333333% - 20px);
            max-width: calc(33.333333% - 20px);
        }
  
 
        .grid-container[data-id="6259ba2309664"]:not([data-display-type="slideshow"]) .grid {
            margin: -0px 0 0 -0px;
            width: calc(100.005% + 0px);
        }
        .grid-container[data-id="6259ba2309664"]:not([data-display-type="slideshow"]) .grid .image-container {
            margin: 0px 0 0 0px;
            /*flex: 1 0 calc(33.333333% - 0px);*/
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(33.333333% - 0px);
            max-width: calc(33.333333% - 0px);
        }
  .p-0{ padding:0px;}
  .inner.caption-position-middle:after{
  
  content: '';
    width: 100%;
    height: 100%;
    background: rgba(10,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  
  p.freeShipping img {
    margin-top: 0px;
}
  
  .inner.caption-position-middle .caption .text-group{
  
  position:relative;
    top:25%;
  }
  
  .inner.caption-position-middle .caption .text-group .caption-heading{
    color: #fff;
    text-align: center!important;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    text-shadow: 0 0 3px rgb(0 0 0 / 80%);
    letter-spacing: 1px;
    font-size: 1rem;
  
  }
  .inner.caption-position-middle .caption .text-group .caption-copy{
  font-size:1.2rem;
  }
  
  .inner.caption-position-middle .caption .text-group .caption-copy p{
  color: #fff;
    text-align: center!important;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 10%;
    
   
  font-size: 16px;
    
    margin-bottom: 20px;
  }
  
  .inner.caption-position-middle .caption .text-group .caption-heading:after{
  content: '';
    border-top: 2.5px solid #ac9c75;
    width: 30px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
  }
  
  .inner.caption-position-middle .caption{
  padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .icon-strip-block .grid-container[data-display-type=icon_grid] .grid {
    flex-wrap: wrap;
}
  .caption-position-below .caption { text-align:center;}
  .caption-position-below .caption .caption-heading span{ display:block; text-align:center; font-size:1rem; }
  .inner.caption-position-below .image img {
    width: 22%;
    /* text-align: center; */
   
    padding-top: 1em;
    height: 140px;
    object-fit: contain;
}
  ul.m-0.p-0 li span{ padding-left:20px; display:inline-block;}
  
  ul.m-0.p-0 li::before {
        display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    line-height: -4px;
    height: 0.35rem;
    width: 0.35rem;
    margin-right: 0.5rem;
    background-color: #000;
    vertical-align: middle;
    padding: 0px;
  }
  
  
  .pricing-card-list-item {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height:18px;
}
  
  ul.m-0.p-0 li:nth-child(2)::before {
      
    background-color:#e4b745;
   
  }
  
  img.mastercard.primary-graphic {
    width: 36px !important;
}
  
  #footer-badges .footer-badge-container .payment-badge img, #footer-badges .footer-badge-container .payment-badge svg {
    margin: 0 20px;
    width:65px;
}
  
  #footer-badges .footer-badge-container .payment-badge img.guarantee-90, #footer-badges .footer-badge-container .payment-badge svg.guarantee-90 {
    object-position: -300px 0;
    width: 75px;
}
  
  .reliable-relief .caption-position-below .caption-copy,  .reliable-relief .caption-position-below .caption-heading span {
    text-align: left !important;
    display: block;
}
  
  #footer-badges .footer-badge-container .payment-badge {
    height: 62px;
    order: 1;
}
  
  .vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
  
  .pb-50{ padding-bottom:50px;}
  
  #footer-badges .footer-badge-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
  
  #footer-badges {
    background-color: #efefef;
}

  #footer-badges {
    padding: 10px 0;
    text-align: center;
}
  
  #footer-badges {
    border-top: 1px solid #b5b5b5;
}
  .inner.caption-position-below .caption-copy p{
  
  font-size:1.28em;
    padding-top:0.8rem;
    color:#222;
  }

  
  .grid-container[data-id="6259ba2316010"]:not([data-display-type="slideshow"]) .grid {
            margin: -15px 0 0 -15px;
            width: calc(100.005% + 10px);
        }
        .grid-container[data-id="6259ba2316010"]:not([data-display-type="slideshow"]) .grid .image-container {
            margin: 20px 0 0 20px;
            /*flex: 1 0 calc(33.333333% - 20px);*/
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(33.333333% - 20px);
            max-width: calc(33.333333% - 20px);
        }
  
     .grid-container[data-id="6259ba230d679"] .grid .image-container {
                
                max-width: 50%;
            }
  
  
  .feature-grid-block .grid-container[data-display-type=icon_grid] .grid {
    flex-wrap: wrap;
    display: inline-flex;
}


.inner.caption-position-below .caption-copy {
    text-align: center;
    font-size: 0.9em;
}
  
.feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption{
padding: 4% 20px 20px;
}
  
.feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .image{
    top: 15%;
    left: 50%;
    margin: 0 0 0 -11%;
}

  .feature-grid-block

.feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption .caption-heading{
display: flex;
   text-align: center!important;
    justify-content: center;
    align-items: end;
  height:60px;
}



  
  .feature-grid-block .grid-container[data-display-type=icon_grid] .grid .image-container{
  
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 10%);
    background: #fff;
}
  .m-0{ margin:0;}

 
  
  .visible-xs{ display:none;}
  
  
 /*---modal body---*/
          
          
     .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
      background:rgba(0,0,0,0.7);
}
    .modal-dialog {
    margin: 2.75rem auto!important;
}
    
    .modal .modal-dialog{
      width: calc(100% - 40px);
      
    }
    
    .modal.show .modal-dialog {
    transform: none;
}
    .modal-xl {
    width: 100%;
    max-width: 1120px;
}
    
    .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
    
   
  
    
    .modal-body .row {
    display: flex;
    flex-wrap: wrap;
   
}
    
    .modal-body .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
    
     .modal-body .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
    .modal .headline {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin: 20px 0 0px;
    color: #666;
}
  
    .popup-special-container {
    max-width: 300px;
    margin: -55px auto 0;
    position: relative;
    left: 30px;
    color: #333;
}
    .popup-special-container .number {
    float: left;
    width: 50%;
    font-size: 145px;
    font-weight: 700;
    margin-bottom: -20px;
}
    .popup-special-container .percentoff {
    float: left;
    width: 50%;
    text-align: center;
}
    .popup-special-container .percentoff .percent {
    font-size: 80px;
    position: relative;
    top: 25px;
}
    .popup-special-container .percentoff .off {
    font-size: 40px;
    position: relative;
      line-height:40px;
}
    .popup-image {
    margin: 0 auto;
    text-align: center;
}
    
     .popup-image img {
    max-width: 100%;
    width: auto;
}
    
     .modal-body  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
    .popup-content {
    text-align: center;
    margin-top: 30px;
}
     .popup-content {
    text-align: center;
    margin-top: 30px;
}
    .popup-content {
    text-align: center;
    margin-top: 30px;
}
     .popup-content .button-container {
    text-align: center;
    margin: 20px 0;
    position: relative;
}
    
    .modal .modal-dialog .modal-content{
    box-shadow: 0 0 0 10px rgb(0 0 0 / 35%), 0 0 4px rgb(0 0 0 / 10%);
    border-radius: 0;
}
    
    .modal button.close {
    position: absolute;
    background: #000!important;
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    line-height: 26px;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    border: 2px solid #fff;
}

   
    .modal-dialog .modal-content button.close {
    border-radius: 0;
    border: 0;
    background: 0 0!important;
    box-shadow: none;
    color: #aaa;
    text-shadow: none;
    right: 15px;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 50px;
}
    
   .modal .value-price {
    font-size: 18px;
}
  
  .modal-body .row{justify-content: center;}
    
    .popup-content p.cancel-upsell {
    padding: 1px 0;
      text-decoration:underline;
      cursor:pointer;
}
    .modal .special-price {font-size: 22px;}
    
    .modal .kailo-landing button, .modal .yes-bundle button{ padding:20px !important; border-radius:6px;}     
  
        
        @media only screen and (min-width: 992px) {
            .grid-container[data-id="6259ba230d679"] .divider {
                width: 50px;
            }
          
          .feature-2-column-block.icon-strip-block .image-container .inner.caption-position-right .caption

{ width:180px;}
        }


        @media only screen and (max-width: 767px) {
          
          
			.modal .modal-dialog { width: calc(100% - 10px);}
			
          .modal .popup-special-container {
          max-width: 250px;
          margin: -25px auto 0;
          position: relative;
          left: 30px;
          color: #333;
          }
			
			.modal-body .row{justify-content: center;}
			         
            .modal button.productBtn.custom-btn span {    font-size: 1em !important;}
			.modal-dialog {    margin: 2.75rem auto!important;}
			.popup-special-container .number{ font-size:120px;}
          
          
			.heading{margin-bottom:20px;}
			
			.center-mob{ text-align:center;}
			
			.feature-grid-block .mobile-devices .inner.caption-position-right{ align-items: flex-start;}
			
			.feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid .image-container{
				
				box-shadow: none;
			}
			
			.feature-grid-block .mobile-devices .grid-container.p-0{ padding:0px !important;}
			.feature-grid-block .mobile-devices .icon-strip-block .grid-container[data-display-type=icon_grid] .grid .image-container .inner{
				
				padding:20px 10px;
			}
	    .feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid {
			flex-wrap: wrap;
			display: table-cell;
}

.feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid .image-container .inner .image{

			margin:22px 10px 0px;
}


.feature-grid-block .mobile-devices .grid-container[data-display-type=icon_grid] .grid .image-container .inner .caption {
    padding: 4% 20px 20px;
}
			
			
            .grid-container[data-id="6259ba230d679"] .divider {
                width: 50px;
            }
          
          .grid-container:not([data-display-type="slideshow"]) .grid {
    width: 100%;
}
          
          .wp-block-giddyup-icon-strip .image-container .inner.caption-position-right .caption {
    padding: 0px 10px;
}
          .wp-block-giddyup-icon-strip .inner.caption-position-right .caption .text-group .caption-copy span{ text-align:left;}
          
          .wp-block-giddyup-icon-strip .no-color {
    width: 70% !important;
}
          .wp-block-giddyup-icon-strip .image-container .inner.caption-position-right .caption {
    flex: 0 78%;
    padding: 0px 10px;
    text-align: left !important;
}
          #footer-badges .footer-badge-container{ flex-wrap:wrap;}
          
          .mt-10.mb-30{margin-top:10px !important; margin-bottom:30px !important;}
          .main-content{overflow:hidden;}
           .slider-below .inner.caption-position-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
          
          .wp-block-giddyup-icon-strip .inner.caption-position-right .caption .text-group{ transform: translateY(0%);}
          .main-heading{ font-weight:700 !important; font-size:1.5rem;}
          .slider-below .flex-row { display:flex; flex-wrap:wrap; }
          .slider-below .flex-row .divider{ display:none;}
         .slider-below  .image-container {flex: 1 50%; }
           .hidden-xs{ display:none;}
          .kailo-landing button, .yes-bundle button{ margin: 20px auto !important; margin-bottom:0px !important; border-radius:6px; width:100%}
          .text-group .subhead, .headings { text-align:center;}
          .text-group .subhead:after{ left:45%;}
          .feature-2-column-block .block-content {
    display: block;
    width: 100%;
}
          
          .reliable-relief .inner.caption-position-below .caption-copy p {
    font-size: 1.28em;
    padding-top: 0.8rem;
    color: #222;
            text-align:left !important
}
          h2.emain-heading{ font-weight:700; font-size:1.7rem;}
          .wp-block-button.button.cta.eplus-rcwaay.is-style-cta-outline {
    text-align: center !important;
}
       
     .slider-below  .image-container .inner.caption-position-right .caption {
    padding: 30px 5px;
       padding-bottom:0px;
}     
          .visible-xs{ display:block;}
          
          .flex-row .image-container{  float:left;}
          .featureIcons .image-container .inner .image {
            width: 70px;
            max-width: 110px;
            margin-bottom:30px;
            margin-top:30px;
        }
          .caption-copy span {
          text-align: center;
          display: block;
          }
          
          h2.emain-heading {
         text-align: center;
          }
          .demi-heading:after{left:45%;}
          .new-items{ border-right:0px; text-align:center;}
          .center{ padding:10px;}
          .image-container .inner .caption .text-group .caption-heading {
            font-size: 1.125rem;
            line-height: 1.125;
            text-align: center;
}
         .inner.caption-position-right {
          display: flex;
          flex-direction: column;
          align-items: center;
         }
          
          .inner.caption-position-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
          .image-container .inner.caption-position-right .caption{
            padding:30px 10px;
          }
          
          .no-color{ width:60% !important;}
          .text-group .wp-block-group__inner-container {
              transform: translateY(0);
              top: 50%;
              padding: 50px 5%;
             }
          .inner.caption-position-right {
    display: flex;
    flex-direction: revert;
    align-items: center;
}
          .grid{ display:block;}
          .slick-dots {margin-top:1rem;}
          .kailo-landing button, .yes-bundle button{ margin-bottom:30px;}
          .kail-image-slider .slick-next, .kail-image-slider .slick-prev{ display:none !important;}
          .grid-container{ padding:10px;} 
          .new-items_dev{ margin-left:0px;}
          .how_does .new_div, .flex-row{ display:block;}
          .grid-container:not([data-display-type="slideshow"]) .grid .image-container {
              margin: 20px 20px 0 20px;
              flex: 1 0 calc(33.333333% - 20px);
              flex-grow: 1;
              flex-shrink: 0;
              max-width: 100%;
}
     .layout {
    display: flex;
    flex-direction: column;
}
          .col.col-main img{ width:100%;}    
          .prinInvestigator .col-main {
 
    order: 1;
}
          .grid-container[data-id="6259ba2309664"]:not([data-display-type="slideshow"]) .grid .image-container
          {max-width:100%;}
          
          .feature-grid-block .grid-container[data-display-type=image_grid] .grid {
    display: block;
}
  .grid-container[data-id="6259ba22f29da"]:not([data-display-type="slideshow"]) .grid {
    margin: 0;
    width: 100%;
}
          
          .feature-grid-block .section-heading .heading {
    padding-top: 30px;
}
          
          .heading{ font-size:1.4rem; font-weight:700!important;}
          .feature-grid-block .grid-container{ margin:0 auto 0;}
          .feature-2-column-block .block-content .column-1 {
          flex: 0 0 50%!important;
          max-width: 100%!important;
}
          .grid-container[data-id="6259ba2316010"]:not([data-display-type="slideshow"]) .grid .image-container{
          
          max-width:100%;
          }
          .kailo-landing button span, .yes-bundle button span {
  	
   font-size:0.9rem;
    padding:.8em 0.92em;
    
  }
          
            
   .modal button.productBtn.custom-btn span {
    font-size: 1.2em;
}
    .modal-body {
    padding: 20px 0;
    max-height: calc(100vh - 50px);
      overflow-y:auto;
}
      .modal .kailo-landing button, .modal .yes-bundle button {
				/*padding: 0px 0px !important;*/
				width: auto;
				text-align: center;
      }    
  
          
        }

  
	        @media only screen and (min-width: 768px) and (max-width: 991px) {
            .grid-container[data-id="6259ba230d679"] .divider {
                width: 45px;
            }
              .modal-body {
    padding: 20px 0;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
                  
   
}
              
                  
           .popup-special-container .percentoff .percent {
    font-size: 60px;
    position: relative;
    top: 25px;
}
    .popup-special-container .percentoff .off {
    font-size: 30px;
    position: relative;
      line-height:40px;
}
              
  .popup-special-container {
    max-width: 200px;
    margin: -40px auto 0;
			}
			.popup-special-container .number {
    
    font-size: 100px;
    
}
			
			
          .modal .popup-special-container {
          max-width: 250px;
          margin: -25px auto 0;
          position: relative;
          left: 30px;
          color: #333;
          }
			
			
			         
            .modal button.productBtn.custom-btn span {    font-size: 1em !important;}
			.modal-dialog {    margin: 2.75rem auto!important;}
			.popup-special-container .number{ font-size:100px;}
          
          
			.heading{margin-bottom:20px;}
			
			.center-mob{ text-align:center;}
			
          button.productBtn.custom-btn span {
    font-size: 0.8rem;
}
              
}
              
			
	
			.slider-below .featureIcons .divider{ display:none;}
			
			.slider-below .image-container .inner .caption .text-group .caption-heading, .slider-below .inner.caption-position-right .caption .text-group .caption-copy{ text-align:center !important; font-size:0.8rem;}
			
			.kail-image-slider .slick-next, .kail-image-slider .slick-prev {
    display: none !important;
}
			
			.slider-below  .inner.caption-position-right .caption .text-group {
					position: relative;
					top: 80%;
					transform: translateY(40%);
    /* text-align: center !important; */
}
			
			 .slider-below .inner.caption-position-right {
					display: flex;
					flex-direction: column;
					align-items: center;
}
      
          
          
        }

	
	
	.testimonial-block{
  
  border: 1px solid #d1d1d1;
    margin: 0 10px;
    display: flex;
    flex-direction: column-reverse;
    padding:20px 20px 0px;
    min-height:520px;
}
  
  .review {
    font-size: 13px;
    text-align: left;
}
  
  .bg-grey{background:#f5f4f2;}
  
  .rating{
  
  display: flex;
    /* flex-direction: row; */
    flex-direction: row-reverse;
    /* width: 100% !important; */
    justify-content: space-between;
}


    
 
  .reviews{flex: 1;    padding: 20px 20px 70px;}
  
  
  .stars img{ width:75px;}
  
  .user
  {
 
    color: #434339;
    text-align:left !important;
}

  .rating .user .verified{
  color: #37a54c;
    
    font-size: .75rem;
}

          
          
          
 
@media only screen and (max-width: 420px) {
    
     .kailo-landing button, .yes-bundle button {
    margin: 20px auto !important;
   
}
  }
  
</style>

<div id="logo">
<div class="logo-container">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="site-logo">
<img src="{{ 'kailo-logo-01.svg' | asset_url }}" alt="" style="height: 45px;" loading="lazy">
</div>
</div>
</div>
</div>
</div>
</div>


<section class="slider_top mb-0 topMargin lazyload">
  <div class="wrapper">
  <div class="container">
    <div class="layout">
      <div class="col col-main">
      <h1 class="main-heading">The Future Of Pain Relief</h1>
        <p class="bodycopy mb-5">Naturally relieve pain anywhere on your body in seconds with Kailo's patented pain patch.</p>
        
        <div class="btn-wrapper kailo-landing"><button type="button" onclick="location.href='#buy';"><span>ORDER KAILO NOW</span></button></div>
        <div class="mb-30 hidden-xs">
          <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/company_logos_name.png" alt="Kailo As Seen on" />
        </div>
        <div class="mb-30 visible-xs">
          <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/as_soon_as.png?v=1650788933" alt="Kailo As Seen on" />
        </div>
      </div>
      <div class="col col-complementary right lazyload" role="complementary">
       {% section 'content-video' %}
      </div>  
    </div>   	
 </div>
  </div>
</section>  
<section class="featureIcons slider-below center">
  <div class="wrapper container grid-container ">
    <div class="flex-row" >
<div data-index="1" class="image-container">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-chat.svg' | asset_url }}" style="width: 80%; height: 80%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-heading"><span>Over 1 Million</span></div> <div class="caption-copy"><span>Happy Customers</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
<div data-index="2" class="image-container">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-round-usa.png' | asset_url }}" style="width: 80%; height: 90%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-heading"><span>Made in USA</span></div> <div class="caption-copy"><span>Guaranteed</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
<div data-index="3" class="image-container">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-rating.svg' | asset_url }}" style="width: 80%; height: 80%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-heading"><span>95% Positive</span></div> <div class="caption-copy"><span>User Rating</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
<div data-index="4" class="image-container">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-savings.svg' | asset_url }}" style="width: 75%; height: 75%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-heading"><span>90 Day</span></div> <div class="caption-copy"><span>Money Back Guarantee</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
</div>  	
 </div>
</section>

<section class="mb-0">
  <div class="wrapper center pb-0">
    <h2 class="heading">The Microtech Patch That Relieves Pain In Seconds</h1>
    <p class="med-font mb-0">Natural pain relief has never been this simple, effective, or affordable.</p>
  </div>
</section>
<section class="feature-grid-block m-0 wrapper center pt-10">
 <!-- slick -->
<div class="kail-image-slider grid-container p-0  ">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/slide01-opt.jpg?v=1650481425" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/slide02-opt.jpg?v=1650481424" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/slide03-opt.jpg?v=1650481424" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/slide01-opt.jpg?v=1650481425" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/slide02-opt.jpg?v=1650481424" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/slide03-opt.jpg?v=1650481424" alt="">
</div>


  <div class="btn-wrapper kailo-landing mt-10 mb-30"><button type="button" onclick="location.href='#buy';"><span>ORDER KAILO NOW</span></button></div>
</section>



<section class="mb-0">
  <div class="section-block how_does" style="background-color:#f5f4f2;background-image:url({{ 'background-2.jpg' | asset_url }}); background-repeat:no-repeat;">
<div class="new_div">
<div class="new-items p-0" style="flex-basis:33.33%">
<h2 class="demi-heading">The SCIENCE</h2>
<h2 class="emain-heading">How Does It Work?</h2>
</div>
<div class="new-items_dev p-0" style="flex-basis:66.66%">
<p class="eplus">When you experience pain, it’s typically the result of electrical signals being sent from the location of the pain to your brain. The worse the pain, the stronger the signal.</p>
<p class="eplus">Kailo’s microcapacitors communicate directly with the brain’s electrical system, telling it to “turn down the volume” of the pain signal (like a “bio-antenna”). This allows your brain to send help, reducing the pain immediately.</p>
<p class="eplus">Kailo doesn’t use medicine or drugs, so nothing foreign or toxic enters your body.</p>
</div>
</div>
</div>
  
</section>





<section class="feature-2-column-block" style="margin-bottom:0;background-color:transparent;background-repeat:no-repeat" data-column-order="reverse" data-row-order="reverse" >
  <div class="block-content ">
<div class=" column-1 text-group" style="min-height: 500px;">
  <div class="visible-xs">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/fullbleed-1.jpg?v=1650787447" alt="image">

</div>
  
  <div class="wp-block-group__inner-container">
<h2 class="subhead ">FAST, NATURAL RELIEF</h2>
<h2 class="headings ">Feel Relief In Less Than 60 seconds</h2>
<p class="bodycopy">When you’re feeling pain, just stick Kailo to your body (where it hurts) and within moments, you’ll feel the pain ease away.</p>
<p class="bodycopy ">Kailo is 100% drug-free, has zero side effects and can be worn every single day.</p>
<div class="wp-block-button button cta eplus-rcwaay is-style-cta-outline"><a class="wp-block-button__link" href="#">Clinical trial results</a></div>
</div></div>
<div class="column-1 media-group hidden-xs " style="min-height: 500px;">
  
<div class="wp-block-group__inner-container">
<div class="image-container full-bleed " style="background:url('https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/fullbleed-1.jpg?v=1650787447') center center no-repeat;">

</div>
  </div>
  </div>
  </div>
</section>



<section class="feature-2-column-block" style="margin-bottom:0;background-color:transparent;background-repeat:no-repeat" data-column-order="reverse" data-row-order="reverse" >
  <div class="block-content ">
    <div class="visible-xs">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/fullbleed-2.jpg?v=1650787462" alt="image">

</div>
    <div class="column-1 media-group hidden-xs " style="min-height: 500px;">
   
<div class="wp-block-group__inner-container ">
<div class="image-container full-bleed " style="background:url('https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/fullbleed-2.jpg?v=1650787462') center center no-repeat;">

</div>
  </div>
  </div>
    
<div class=" column-1 text-group" style="min-height: 500px;">
  <div class="wp-block-group__inner-container">
<h2 class="subhead ">SIMPLE AND VERSATILE</h2>
<h2 class="headings ">Works Anywhere On Your Body</h2>
<p class="bodycopy">Whether your pain stems from a pinched nerve, pulled muscle or a chronic condition, Kailo can help you find relief.</p>
<p class="bodycopy ">Simply place it on your head, neck, shoulder, back, knee, hand, foot, and more – and watch as the pain quickly subsides.</p>
<div class="btn-wrapper kailo-landing"><button type="button" onclick="location.href='#buy';"><span>ORDER KAILO NOW</span></button></div>
</div></div>

  </div>
</section>
  
<section class="feature-grid-block reliable-relief" style="margin-bottom:0;background-color:#f5f4f2;background-repeat:no-repeat" data-cta-button="false"><div class="block-content">
<div class="wp-container-6259ba22f2877 wp-block-group section-heading eplus-WzxTvs"><div class="wp-block-group__inner-container">
<h2 class="heading has-text-align-center is-style-main-heading eplus-m793Wx">Reliable Relief When You Need It Most</h2>

</div></div>
<div class="wp-container-6259ba2301c41 wp-block-group section-content eplus-Rrvdh7">
  <div class="wp-block-group__inner-container"> 
<div class="grid-container p-0 " data-display-type="image_grid" data-id="6259ba22f29da">
<div class="grid" data-row-break="3" data-item-count="3">
<div data-index="1" class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/grid-1.jpg?v=1650787797" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>Waterproof</span></div>
<div class="caption-copy"><span><p>Kailo can be worn in the shower and in the pool or ocean without losing stickiness or falling off.</p>
</span></div> </div>
</div>
</div>
</div>
<div data-index="2" class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/grid-2.jpg?v=1650787806" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>Lasts For Years</span></div> <div class="caption-copy"><span><p>Kailo can be worn day after day, without losing effectiveness. Just replace the adhesive after 3-7 days of continued use and you’re good to go.</p>
</span></div> </div>
</div>
</div>
</div>
<div data-index="3" class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/grid-3.jpg?v=1650787814" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>Always On</span></div> <div class="caption-copy"><span><p>Kailo does not have a battery and doesn’t require any charging. It's always ready when you need it most.</p>
</span></div> </div>
</div>
</div>
</div>
</div>
</div>

</div></div>

</div></section>



<section class="wrapper center">
  
 <div class="wrapper center pb-0">
    <h2 class="heading">Here’s Why Customers Love Kailo…</h2>
    
  </div>
  </section>

<section class="wrapper center pt-0">
 <!-- slick -->
<div class="kailo-testimonial-slider">
 
<div class="testimonial-block">
	
<div class="review">

<h4>
<a target="_blank" href="#">“It's given me amazing relief from the daily pain I had been feeling.”</a>
</h4>
<div class="copyblock">
<p>I received your product yesterday and immediately started using it. It took me about 3 minutes before I found a good spot on my upper back. The <strong>pain went away within seconds.</strong> I have been suffering from daily muscle spasms and tightening that was so painful. This would happen daily when I walked for more than a couple of minutes and when I would lie down to sleep. This has gone on for over 4 years . MRI’s , Xrays, chiropractor, massage therapy, orthopedist. I have tried everything and still ..pain. I know that your product isn’t fixing the issue, but it has (so far) given me <strong>amazing relief from the daily pain that I’ve been feeling.</strong> I have told several people about this product and I have no doubt that they will be ordering from you. Thank you so much for developing this amazing technology and delivering it at a reasonable price!!</p>
</div>
</div>	
	
<div class="rating">
<div class="stars">
<img width="200" alt="rating" src="{{ 'five-stars.jpg' | asset_url }}" loading="lazy">
<div class="star-count">
5.0 star rating
</div>
</div>
<div class="user">
<strong class="reviewer-name">Michael L.&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Verified Buyer</div>
</div>
</div>

</div>
 <div class="testimonial-block">
	
<div class="review">

<h4>
<a target="_blank" href="#">“It's given me amazing relief from the daily pain I had been feeling.”</a>
</h4>
<div class="copyblock">
<p>I received your product yesterday and immediately started using it. It took me about 3 minutes before I found a good spot on my upper back. The <strong>pain went away within seconds.</strong> I have been suffering from daily muscle spasms and tightening that was so painful. This would happen daily when I walked for more than a couple of minutes and when I would lie down to sleep. This has gone on for over 4 years . MRI’s , Xrays, chiropractor, massage therapy, orthopedist. I have tried everything and still ..pain. I know that your product isn’t fixing the issue, but it has (so far) given me <strong>amazing relief from the daily pain that I’ve been feeling.</strong> I have told several people about this product and I have no doubt that they will be ordering from you. Thank you so much for developing this amazing technology and delivering it at a reasonable price!!</p>
</div>
</div>	
	
<div class="rating">
<div class="stars">
<img width="200" alt="rating" src="{{ 'five-stars.jpg' | asset_url }}" loading="lazy">
<div class="star-count">
5.0 star rating
</div>
</div>
<div class="user">
<strong class="reviewer-name">Michael L.&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Verified Buyer</div>
</div>
</div>

</div>
<div class="testimonial-block">
	
<div class="review">

<h4>
<a target="_blank" href="#">“It's given me amazing relief from the daily pain I had been feeling.”</a>
</h4>
<div class="copyblock">
<p>I received your product yesterday and immediately started using it. It took me about 3 minutes before I found a good spot on my upper back. The <strong>pain went away within seconds.</strong> I have been suffering from daily muscle spasms and tightening that was so painful. This would happen daily when I walked for more than a couple of minutes and when I would lie down to sleep. This has gone on for over 4 years . MRI’s , Xrays, chiropractor, massage therapy, orthopedist. I have tried everything and still ..pain. I know that your product isn’t fixing the issue, but it has (so far) given me <strong>amazing relief from the daily pain that I’ve been feeling.</strong> I have told several people about this product and I have no doubt that they will be ordering from you. Thank you so much for developing this amazing technology and delivering it at a reasonable price!!</p>
</div>
</div>	
	
<div class="rating">
<div class="stars">
<img width="200" alt="rating" src="{{ 'five-stars.jpg' | asset_url }}" loading="lazy">
<div class="star-count">
5.0 star rating
</div>
</div>
<div class="user">
<strong class="reviewer-name">Michael L.&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Verified Buyer</div>
</div>
</div>

</div>
<div class="testimonial-block">
	
<div class="review">

<h4>
<a target="_blank" href="#">“It's given me amazing relief from the daily pain I had been feeling.”</a>
</h4>
<div class="copyblock">
<p>I received your product yesterday and immediately started using it. It took me about 3 minutes before I found a good spot on my upper back. The <strong>pain went away within seconds.</strong> I have been suffering from daily muscle spasms and tightening that was so painful. This would happen daily when I walked for more than a couple of minutes and when I would lie down to sleep. This has gone on for over 4 years . MRI’s , Xrays, chiropractor, massage therapy, orthopedist. I have tried everything and still ..pain. I know that your product isn’t fixing the issue, but it has (so far) given me <strong>amazing relief from the daily pain that I’ve been feeling.</strong> I have told several people about this product and I have no doubt that they will be ordering from you. Thank you so much for developing this amazing technology and delivering it at a reasonable price!!</p>
</div>
</div>	
	
<div class="rating">
<div class="stars">
<img width="200" alt="rating" src="{{ 'five-stars.jpg' | asset_url }}" loading="lazy">
<div class="star-count">
5.0 star rating
</div>
</div>
<div class="user">
<strong class="reviewer-name">Michael L.&lrm;</strong>
<div class="verified"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; Verified Buyer</div>
</div>
</div>

</div>

</div>

  
  <div class="btn-wrapper kailo-landing"><button type="button" onclick="location.href='#buy';"><span>ORDER KAILO NOW</span></button>
	
	</div>
</section>







<section class="bg-grey mb-0">
  
 <div class="wrapper center pb-0">
    <h2 class="heading pt-10">Kailo Is Easy To Use</h2>
    <p class="med-font">Works right out of the box – anyone can do it!</p>
  </div>
 





<div class="grid-container full-width p-0 " data-display-type="image_grid" data-id="6259ba2309664">
<div class="grid">
<div class="image-container">
<div class="inner caption-position-middle">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/strip-1.jpg?v=1650788040" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body ">
<div class="caption-heading"><span>step 1</span></div> <div class="caption-copy"><span><p>Place Kailo at the source of your pain</p>
</span></div> </div>
</div>
</div>
</div>
<div class="image-container">
<div class="inner caption-position-middle">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/strip-2.jpg?v=1650788049" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body ">
<div class="caption-heading"><span>step 2</span></div> <div class="caption-copy"><span><p>Move it around slowly till you find the perfect spot</p>
</span></div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-middle">
<div class="image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/strip-3.jpg?v=1650788060" style="width: 100%; height: 100%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body ">
<div class="caption-heading"><span>step 3</span></div> <div class="caption-copy"><span><p>Stick it on and enjoy the relief!</p>
</span></div> </div>
</div>
</div>
</div>
</div>
</div>

   </section>


  
<section class="feature-2-column-block icon-strip-block" style="margin-bottom:0;background-color:transparent;background-repeat:no-repeat" data-column-order="reverse" data-row-order="reverse"><div class="block-content">
	<div class="column-1 visible-xs mt-20 pt-10 media-group no-inserter ">
	<div class="wp-block-group__inner-container">
<div class="image-container  image-overlay " data-id="6259ba23117ec">
<img alt="" width="auto" height="auto" src="{{ 'prod-trans.png' | asset_url }}" style="width: 90%; height: 70%;" loading="lazy">
<div class="caption">
<span></span>
</div>
</div>
</div></div>

	
<div class="wp-block-group column-1 text-group "><div class="wp-block-group__inner-container">
<h2 class="subhead ">CLINICAL TRIALS</h2>
<h2 class="headings ">The Results Are In And They're Amazing</h2>
<p class="bodycopy center-mob">Our Clinical Trial Proved:</p>
<section class="wp-block-giddyup-icon-strip icon-strip-block" style="background-color:transparent;background-repeat:no-repeat">
<div class="block-content">
<div class=" wp-block-group section-content eplus-8jnopz"><div class="wp-block-group__inner-container">

<div class="grid-container p-0 " data-display-type="icon_grid" data-mobile-display-type="icon_list" data-id="6259ba230d679">
<div class="grid mt-20">
<div  class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-chart.svg' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span>Significant decrease in pain severity with no side effects</span></div> </div>
</div>
 </div>
</div>
<div class="divider"></div>
<div  class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-zen.svg' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span>Significant improvement in mood, sleep, activity, and relationships.</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-starpeople.svg' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span>Patient satisfaction for convenience and ease of use</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-meds.svg' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span>Patients used a lot less concurrent oral medication.</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
</div>
</div>
</div></div>
</div></section>
</div></div>
	
	<div class="column-1 hidden-xs media-group no-inserter ">
	<div class="wp-block-group__inner-container">
<div class="image-container  image-overlay " style="top: -50px;" data-id="6259ba23117ec">
<img alt="" width="auto" height="auto" src="{{ 'prod-trans.png' | asset_url }}" style="width: 90%; height: 70%;" loading="lazy">
<div class="caption">
<span></span>
</div>
</div>
</div></div>
	
</div>
</section>

<section class="prinInvestigator mb-0">
  <div class="wrapper container">
    <div class="layout">
      <div class="col col-main">
       <img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/jefferyGudin-MD.jpg?v=1650480205" srcset="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/jefferyGudin-MD-mobile.jpg?v=1650480663 480w" alt="Jeffery Guidin, MD | Principal Investigator" />
      </div>
      <div class="col col-complementary" role="complementary">
        <p>“The interim results from the IRB-approved study demonstrated that patients who used Kailo over a period of 30 days showed a vast reduction of their pain severity levels. They experienced a better quality of life, improved function, were very satisfied with the Kailo Pain Patch, and preferred the patch over oral pain medications. With the increased focus on identifying alternative therapies for patients in pain that clinicians and consumers can turn to, the use and ongoing research of novel approaches, including the non-drug, and microtechnology-based Kailo patch, seems to have a very positive effect on patients who are experiencing mild, moderate, and chronic pain.”</p>
        <p><strong class="med-font">Jeffrey Gudin, MD.</strong><br><em>Principal Investigator</em></p>
      </div>  
    </div>   	
 </div>  
</section>


<section class="wp-block-giddyup-feature-grid feature-grid-block pb-0 mb-0" style="background-color:#f5f4f2;background-repeat:no-repeat" data-cta-button="false">
	<div class="block-content">
  
 <div class="wrapper center pb-0">
    <h2 class="heading">Your Satisfaction Is Our Priority</h2>
    <p class="med-font mb-0">Try Kailo risk-free and if you don’t love it, we’ll fix it.</p>
  </div>
  
  
  <div class="wp-container-6259ba231a3a2 wp-block-group section-content eplus-KFAHUE hidden-xs">
    <div class="wp-block-group__inner-container"> 
      
<div class="grid-container p-0  pb-50 " data-display-type="icon_grid" data-id="6259ba2316010">
<div class="grid" data-row-break="3" data-item-count="6">
<div data-index="1" class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img src="{{ 'icon-savings.svg' | asset_url }}"  alt="" >
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>90-Day Money Back Guarantee</span></div> <div class="caption-copy"><p>If for any reason you’re not 100% satisfied with your Kailo patch, you can easily return it, hassle-free!</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img class="no-color" src="{{ 'icon-round-usa.png' | asset_url }}"  alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>Made In The USA</span></div> <div class="caption-copy"><p>Kailo is designed, engineered, and manufactured in the beautiful state of Utah.</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img class="no-color" src="{{ 'icon-truck.png' | asset_url }}"  alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>Free, Fast Shipping in the USA</span></div> <div class="caption-copy"><p>We also provide fast shipping to over 100 countries.</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img class="no-color" src="{{ 'icon-rating.svg' | asset_url }}"  alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>Quality Promise</span></div> <div class="caption-copy"><p>We control every step of the process and test every patch to ensure a safe and high quality product.</p>
</div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img class="no-color" src="{{ 'icon-chat.svg' | asset_url }}"  alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>World Class Customer Support</span></div> <div class="caption-copy"><span><p>They're real humans, they're quick, and they actually like talking to you. </p>
</span></div> </div>
</div>
</div>
</div>
<div  class="image-container">
<div class="inner caption-position-below">
<div class="image">
<img class="no-color" src="{{ 'icon-ribbon.png' | asset_url }}" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group w-heading w-body align-">
<div class="caption-heading"><span>Mission Driven</span></div> <div class="caption-copy"><span><p>Our mission is to help millions of people live a pain-free life without drugs or medication.</p>
</span></div> </div>
</div>
</div>
</div>
</div>
</div>

</div></div>
	</div>
<section class="wp-block-giddyup-icon-strip mobile-devices icon-strip-block visible-xs" style="background-color:transparent;background-repeat:no-repeat">
<div class="block-content">
<div class=" wp-block-group section-content eplus-8jnopz"><div class="wp-block-group__inner-container">

<div class="grid-container p-0 " data-display-type="icon_grid" data-mobile-display-type="icon_list" data-id="6259ba230d679">
<div class="grid mt-20">
<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-savings.svg' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy">
<span><strong>90-Day Money Back Guarantee</strong><br>If for any reason you’re not 100% satisfied with your Kailo patch, you can easily return it, hassle-free!</span></div> </div>
</div>
 </div>
</div>
<div class="divider"></div>
<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-round-usa.png' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span><strong>MADE IN THE USA</strong><br>Kailo is designed, engineered, and manufactured in the beautiful state of Utah.</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-truck.png' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span><strong>FREE, FAST SHIPPING IN THE USA</strong><br>We also provide fast shipping to over 100 countries.</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-rating.svg' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span><strong>QUALITY PROMISE</strong><br>We control every step of the process and test every patch to ensure a safe and high quality product.</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
	<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-chat.svg' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">
<div class="caption-copy"><span><strong>WORLD CLASS CUSTOMER SUPPORT</strong><br>They're real humans, they're quick, and they actually like talking to you.</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
	<div class="image-container m-0">
<div class="inner caption-position-right">
<div class="image">
<img class="no-color" src="{{ 'icon-ribbon.png' | asset_url }}" style="width: 90%; height: 70%;" alt="" loading="lazy">
</div>
<div class="caption">
<div class="text-group">

<div class="caption-copy"><span><strong>MISSION DRIVEN</strong><br>Our mission is to help millions of people live a pain-free life without drugs or medication.</span></div> </div>
</div>
</div>
</div>
<div class="divider"></div>
</div>
</div>
</div></div>
</div>
	
</section>
</section>

<section class="wp-block-giddyup-feature-2-column feature-2-column-block" style="margin-bottom:0;background-color:transparent;background-repeat:no-repeat" data-column-order="normal" data-row-order="reverse" data-column-proportion="50/50"><div class="block-content">
<img class="visible-xs" alt="" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/product-points.jpg?v=1650788696" loading="lazy">
<div class="wp-block-group column-1 media-group hidden-xs " style="min-height: 500px;">
<div class="wp-block-group__inner-container">
<div class="image-container full-bleed  " style="background: url(https://cdn.shopify.com/s/files/1/0121/1537/8238/t/33/assets/product-points.jpg?v=1650788696) center center no-repeat; background-size: cover;" data-id="6259ba231bf7e">

</div>

</div></div>

<div class="wp-block-group column-1 text-group " style="min-height: 500px;"><div class="wp-block-group__inner-container">
<h2 class="subhead is-style-demi-heading ">HERE'S WHAT YOU GET</h2>
<h2 class="headings ">Every Kailo Bundle Includes:</h2>
<ul class="p-0 m-0" style="font-size:18px">
  <li><strong>1 KAILO PAIN PATCH</strong><br><span>Reusable and lasts for years</span><br></li>
  <li><strong>1 ULTRA-SOFT CARRYING CASE</strong><br> <span>a protective felt pocket featuring a sleeve in the front for your Kailo and a sleeve on the back to store extra adhesives.</span><br></li>
  <li><strong>3 FREE ADHESIVES</strong><br><span>Can be removed and reapplied to your skin multiple times before losing its stick.</span></li>
  </ul>

  <div class="btn-wrapper kailo-landing"><button type="button" onclick="location.href='#buy';"><span>ORDER KAILO NOW</span></button></div>
  </div></div>

</div></section>

<section id="#offer" class="mb-0" style="background: #ece8df;">
<div class="features wrapper center" >
  <h2 class="heading pt-10">The Pain Relief You’ve Been Waiting For</h2>
  <p class="mb-0">Bundles are individually packaged & now on sale!</p>
  


<!-- DESKTOP PRODUCT SECTION -->
<a class="buy-anchor" name="buy" tabindex="-1"></a>
<section class="products wrapper center desktop p-0">
  <div class="container bundle-container">
    <div class="pricing">
      <div class="pricing-card">
        <h3 class="pricing-card-heading pricing-card-heading-free"></h3>
        <ul class="pricing-card-list med-font">
          <li class="pricing-card-list-item"><h4><strong>1</strong> - Kailo Bundle</h4></li>
		  <li class="pricing-card-list-item productImg_1bundle"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-1-bundle.jpg?v=1648765666" alt=""></li>
          <li class="pricing-card-list-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="pricing-card-list-item">- 1 Reusable Kailo</li>
          <li class="pricing-card-list-item">- 3 Free Adhesives</li>
          <li class="pricing-card-list-item">- 1 Free Soft Carrying Case</li>          
        </ul>
        <p class="pricing-card-price"><span class="sale">Retail $119</span><br>
          <span class="pricing-card-price-text">Now ONLY $83.30</span><br>
        <span class="green">You save $35.70!</span></p>        
        <p class="freeShipping"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/freeShipping-landingPage.png?v=1648764381" alt=""></p>
        <div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" data-id="34127408169091" type="button" onclick="manageProductSelection();"><span>ORDER NOW</span></button></div>
      </div>
      <div class="pricing-card pricing-card-highlight">
        <h3 class="pricing-card-heading pricing-card-heading-lite">Most Popular</h3>
        <ul class="pricing-card-list med-font">
          <li class="pricing-card-list-item"><h4><strong>3</strong> - Kailo Bundle<h4></li>
          <li class="pricing-card-list-item productImg_3bundle"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-3-bundle.png?v=1648765193" alt=""></li>        
            <li class="pricing-card-list-item"><h4><strong>Buy 2, Get 1 Free</strong></h4</li>
          <li class="pricing-card-list-item pt-10 mb-0"><strong>Includes:</strong></li>            
          <li class="pricing-card-list-item">- 3 Reusable Kailo</li>
          <li class="pricing-card-list-item">- 9 Free Adhesives</li>
          <li class="pricing-card-list-item">- 3 Free Soft Carrying Case</li>   
        </ul>
        <p class="pricing-card-price">$83.30/each (Total $249.90)<span class="pricing-card-price-text"></span><br>
        <span class="green">You save $107.10!</span></p>
        <p class="freeShipping"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/freeShipping-landingPage.png?v=1648764381" alt=""></p>        
        <div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" data-id="34306690809987" type="button" onclick="manageProductSelection();"><span>ORDER NOW</span></button></div>
      </div>
      <div class="pricing-card">
        <h3 class="pricing-card-heading pricing-card-heading-pro">Best Deal</h3>
        <ul class="pricing-card-list med-font">
          <li class="pricing-card-list-item"><h4><strong>5</strong> - Kailo Bundle</h4></li>
		  <li class="pricing-card-list-item productImg_5bundle"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-5-bundle-opt.jpg?v=1650492951" srcset="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-5-bundle-mobile.jpg?v=1650492951 480, https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-5-bundle-opt.jpg?v=1650492951 800" sizes="(max-width: 600px) 480px, 800px" alt=""></li>          
          <li class="pricing-card-list-item"><h4><strong>Buy 3, Get 2 Free</strong></h4></li>
          <li class="pricing-card-list-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="pricing-card-list-item">- 5 Reusable Kailo</li>
          <li class="pricing-card-list-item">- 15 Free Adhesives</li>
          <li class="pricing-card-list-item">- 5 Free Soft Carrying Case</li>  
        </ul>
        <p class="pricing-card-price">$83.30/each (Total $416.50)<span class="pricing-card-price-text"></span><br>
        <span class="green">You save $178.50!</span></p>        
        <p class="freeShipping"><img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/freeShipping-landingPage.png?v=1648764381" alt=""></p>        
        <div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" data-id="34306695659651" type="button" onclick="manageProductSelection();"><span>ORDER NOW</span></button></div>
      </div>
    </div>
  </div>
</section>
  </div>
 
  </section>
<!-- MOBILE PRODUCT SECTION -->
  
<section class="products wrapper center mobile">
  <form id="form">
  <div class="container">
    <div class="pricing">
      <label for="1kailo">
      <div class="pricing-card">
        <div class="colMobile"><input data-id="34127408169091" type="radio" id="1kailo" name="kailoBundle" value="1kailo"></div>
        <div class="colMobile">
          <img width="30px" class="lazyload" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-1-bundle.jpg?v=1648765666" alt="">
        </div>
        <div class="colMobile">
        <ul class="pricing-card-list med-font">      
          <li class="pricing-card-list-item"><strong>1 - Kailo Bundle<br>+ FREE USA SHIPPING</strong></li>		  
          <li class="pricing-card-list-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="pricing-card-list-item">- 1 Reusable Kailo</li>
          <li class="pricing-card-list-item">- 3 Free Adhesives</li>
          <li class="pricing-card-list-item">- 1 Free Soft Carrying Case</li> 
          <li class="pricing-card-list-item"><span class="sale">Retail $119</span></li>
          <li class="pricing-card-list-item">Now ONLY $83.30</li>
          <li class="pricing-card-list-item"><span class="green">You Save $35.70!</span></li>              
        </ul>
        </div>
        <!--<div class="btn-wrapper kailo-landing"><button class="productBtn" type="button" onclick="bundle(SelectedProductId,'false');"><span>ORDER NOW</span></button></div>-->
      </div>
      </label>
      
      <label for="3kailo">
      <div class="pricing-card pricing-card-highlight ribbonParent">
        <h3 class="ribbon red">Most Popular</h3>
        <div class="colMobile"><input data-id="34306690809987" type="radio" id="3kailo" name="kailoBundle" value="3kailo" checked="checked" /></div>
        <div class="colMobile">
          <img width="50px" class="lazyload" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-3-bundle.png?v=1648765193" alt="">
        </div>
        <div class="colMobile">
        <ul class="pricing-card-list med-font">      
          <li class="pricing-card-list-item"><strong>Buy 2, Get 1 FREE<br>+ FREE USA SHIPPING</strong></li>		  
          <li class="pricing-card-list-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="pricing-card-list-item">- 3 Reusable Kailo</li>
          <li class="pricing-card-list-item">- 9 Free Adhesives</li>
          <li class="pricing-card-list-item">- 3 Free Soft Carrying Case</li> 
          <li class="pricing-card-list-item">$83.30/each (Total $249.90)</li>
          <li class="pricing-card-list-item"><span class="green">You save $107.10!</span></li>              
        </ul>
        </div>
        <!--<div class="btn-wrapper kailo-landing"><button class="productBtn" type="button" onclick="bundle(SelectedProductId, 'false');"><span>ORDER NOW</span></button></div>-->
      </div> 
      </label>  
            
      <label for="5kailo">
      <div class="pricing-card ribbonParent">
        <h3 class="ribbon green">Best Deal</h3>
        <div class="colMobile"><input type="radio" data-id="34306695659651" id="5kailo" name="kailoBundle" value="5kailo"></div>
        <div class="colMobile">
          <img width="60px" class="lazyload" src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-landing-11-5-bundle.jpg?v=1648765989" alt="">
        </div>
        <div class="colMobile">
        <ul class="pricing-card-list med-font">      
          <li class="pricing-card-list-item"><strong>Buy 3, Get 2 FREE<br>+ FREE USA SHIPPING</strong></li>		  
          <li class="pricing-card-list-item pt-10 mb-0"><strong>Includes:</strong></li>
          <li class="pricing-card-list-item">- 5 Reusable Kailo</li>
          <li class="pricing-card-list-item">- 15 Free Adhesives</li>
          <li class="pricing-card-list-item">- 5 Free Soft Carrying Case</li> 
          <li class="pricing-card-list-item">$83.30/each (Total $416.50)</li>
          <li class="pricing-card-list-item"><span class="green">You save $178.50!</span></li>              
        </ul>
        </div>
        <!--<div class="btn-wrapper kailo-landing"><button class="productBtn" type="button" onclick="bundle(SelectedProductId, 'false');"><span>ORDER NOW</span></button></div>-->
      </div> 
      </label>       
      
    </div>
    <div class="btn-wrapper kailo-landing"><button class="productBtn" type="button"><span>ORDER NOW</span></button></div>
  </div>
  </form>
</section>

<!-- <section class="wrapper center lazyload">
  <div class="container">
{% section 'testimonial-video' %}
  </div>  
	
</section> -->

  
  
<section class="mb-0">
 <div id="footer-badges">
<div class="footer-badge-container">
<div data-payment-accepted="trust-badge" class="payment-badge" style="">
<div class="vertically-centered hidden-xs">

<img src="{{ '90-day-guarantee.png' | asset_url }}" class="trust-badge show-for-ie" loading="lazy">
</div>
</div>
<div data-payment-accepted="american-express" class="payment-badge" style="">
<div class="vertically-centered">

<img src="{{ 'payment-badge-american-express.svg' | asset_url }}" class="american-express primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="discover" class="payment-badge" style="">
<div class="vertically-centered">

<img src="{{ 'payment-badge-discover.svg' | asset_url }}" class="discover primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="mastercard" class="payment-badge" style="">
<div class="vertically-centered">

<img src="{{ 'payment-badge-mastercard.svg' | asset_url }}" class="mastercard primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="visa" class="payment-badge" style="">
<div class="vertically-centered">

<img src="{{ 'payment-badge-visa.svg' | asset_url }}" class="visa primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="paypal" class="payment-badge" style="">
<div class="vertically-centered">

<img src="{{ 'payment-badge-paypal.svg' | asset_url }}" class="paypal primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="applepay" class="payment-badge" style="display:none;">
<div class="vertically-centered">

<img src="{{ 'payment-badge-applepay.svg' | asset_url }}" class="applepay primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="googlepay" class="payment-badge" style="display:none;">
<div class="vertically-centered">

<img src="{{ 'payment-badge-googlepay.svg' | asset_url }}" class="googlepay primary-graphic" loading="lazy">
</div>
</div>
<div data-payment-accepted="shopify-secure" class="payment-badge" style="">
<div class="vertically-centered">

<img src="{{ 'payment-badge-shopify-secure.svg' | asset_url }}" class="shopify-secure primary-graphic" loading="lazy">
</div>
</div>
</div>
</div>  
</section> 
 
<div id="discount_show_popup" class="modal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;">
<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" onclick="closePopup();" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
<div class="modal-body">
<div class="desktop-only hidden-xs">
<div class="container">
<div class="row">
<div class="col-lg-5 left-column">
<div class="headline">Special Offer!</div>
<div class="popup-special-container usa-shipping">
<div class="number">45</div>
<div class="percentoff"><span class="percent">%</span>
<span class="off">OFF</span></div>
<div class="clearfix"></div>
</div>

<div class="popup-image">
<img src="https://web.archive.org/web/20220417114432im_/https://getkailo.io/wp-content/uploads/sites/8/2019/11/kailo-b1-01.jpg" width="200" height="200" alt="" loading="lazy">
</div>
</div>
<div class="col-lg-7 right-column">
<div class="popup-content">

<div class="description">
<div id="upsell-subtitle" class="wpb_text_column wpb_content_element e1">
<div class="wpb_wrapper">
<p style="text-align: center; font-size:22px;"><strong>Act Now and Get…</strong></p>
</div>
</div>
<div id="upsell-description" class="wpb_text_column wpb_content_element e2">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ff6b01; font-size:50px;"><strong>1 More Kailo Bundle for 45% OFF!</strong></span></p>
</div>
</div>
</div>
<div id="upsell_pricing_popup_0" class="bundle-pricing-text line-through" style=" color: #ee4433; font-weight: 400;text-decoration: line-through;">
<div class="value-price">$119 Value</div>
</div>
<div id="upsell_pricing_popup_1" class="bundle-pricing-text ">
<div class="special-price">Special Add-on Price = $65.45!</div>
</div>
<div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" type="button"  onclick="bundle(SelectedProductId, 'true');"><span>Yes, Get My 45% Saving</span></button></div>

<p class="cancel-upsell" style="color: #5cbd64;" onclick="bundle(SelectedProductId, 'false');">No Thank You</p>
</div>
</div>
</div>
</div>
</div>
<div class="mobile-only visible-xs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="popup-header">
<div class="popup-special-container usa-shipping">
<div class="number">45</div>
<div class="percentoff"><span class="percent">%</span>
<span class="off">OFF</span></div>
<div class="clearfix"></div>
</div>

<div class="popup-image">
<img src="https://cdn.shopify.com/s/files/1/0121/1537/8238/files/kailo-b1-01_0bd95b4e-2f90-4e71-82c1-0e17776dd16a.jpg?v=1651516940" alt="" loading="lazy">
</div>
<div class="headline">Special Offer!</div>
</div>
</div>
<div class="col-12">
<div class="popup-content">
<div class="description">
<div  class="wpb_text_column wpb_content_element e1">
<div class="wpb_wrapper">
<p style="text-align: center; font-size:22px;"><strong>Act Now and Get…</strong></p>
</div>
</div>
<div  class="wpb_text_column wpb_content_element e2">
<div class="wpb_wrapper">
<p style="text-align: center;"><span style="color: #ff6b01; font-size:36px;"><strong>1 More Kailo Bundle for 45% OFF!</strong></span></p>
</div>
</div>
</div>
<div id="upsell_pricing_popup_mobile_2" class="bundle-pricing-text" style=" color: #ee4433; font-weight: 400;text-decoration: line-through;">
<div class="value-price">$119 Value</div>
</div>
<div id="upsell_pricing_popup_mobile_3" class="bundle-pricing-text">
<div class="special-price">Special Add-on Price = $65.45!</div>
</div>
<div class="button-container">
<div class="btn-wrapper kailo-landing"><button class="productBtn custom-btn" type="button" onclick="bundle(SelectedProductId, 'true');"><span>Yes, Get My 45% Saving</span></button></div>
</div>
<p class="cancel-upsell" style="color: #5cbd64;" onclick="bundle(SelectedProductId, 'false');">No Thank You</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
  <input type="hidden" class="order_product" value="0">
</div>  
  
  
{% include 'bmafnet_tracking' %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

<script type="text/javascript">
  
  
  
  
  
let SelectedProductId;
const productButtons = document.querySelectorAll('.productBtn');

productButtons.forEach(button =>{
    button.addEventListener('click', manageProductSelection);
});

 function manageProductSelection(e){
     if(this.dataset.id){
         SelectedProductId = this.dataset.id;
     }
     jQuery("#discount_show_popup").show();
    } 
  

  
  
  
  
function closePopup(){
  jQuery("#discount_show_popup").hide();
}
  
function checkDiscount(qty){
  addToCart(qty);
}
function addToCart(qty){
  var product_id = jQuery('.order_product').val();
  if(qty==1){
    jQuery.ajax({
      type: "POST",
      url: '/cart/add.js',
      data: {
        quantity: 1,
        id: product_id
      },
      async: false
    });
  }else{
    jQuery.ajax({
      type: "POST",
      url: '/cart/add.js',
      data: {
        quantity: 3,
        id: product_id
      },
      async: false
    });
  }
  location.href='/cart';
}
function bundle(SelectedProductId, bundle) {
    jQuery.ajax({
      type: "POST",
      url: '/cart/add.js',
      data: {
        quantity: 1,
        id: SelectedProductId
      },
      async: false
    });
  
    if(bundle == 'true') {
        jQuery.ajax({
          type: "POST",
          url: '/cart/add.js',
          data: {
              quantity: 1,
              id: 32251489255555
            },
          async: false
        });
    }
  
  	location.href='/cart';
};
  
 
  
 
  //Things
 mobileProducts = document.querySelectorAll('.products.mobile input[type=radio]');
 mobileSubmitButton = document.querySelector('.products.mobile .productBtn');
 console.log(mobileSubmitButton);

 //Functions
     function manageMobileProductSubmit(){
            SelectedProductId = this.dataset.id;
            console.log(SelectedProductId);
     }
 //Events
     
     window.addEventListener('load', ()=>{
         mobileProducts.forEach(mobileProduct => {
            mobileProduct.addEventListener('change', manageMobileProductSubmit);
           if( mobileProduct.checked) SelectedProductId = mobileProduct.dataset.id;
        });
     });
 //Actions
 
 //Tests
 
 //Notes
 
 //1 - Kailo bundle
 
 //id = 34127408169091
 //bundle = false
 
 
 //2 Buy 2, get one free
 //id = 34306690809987
 //bundle = false
 
 
 //3 buy 3 get 2 free
 //id = 34306695659651
 //bundle = false
</script>
