{% render 'anchorToProducts' %}
<style>
 body {
    font-size: x-large;
    line-height:normal;
  }
  div#shopify-section-header {
    display: none;
}
  .wrapper {
    max-width:1300px;
  }
   @media screen and (min-width: 1400px){ 
  .landing-products .wrapper {
    max-width: 1000px!important;
  }
 }
  span.landing-product-sale {
    font-size: 24px;
}
  span.landing-product-saving {
    font-size: 24px;
}
  @media screen and (max-width: 1025px){
.wrapper, .wrapper.wrapper--mini {
    margin: 0 10%;
}
  }
@media screen and (min-width: 1026px){
div#shopify-section-xc-products-3 .wrapper{

    display: flex!important;
    justify-content: center;
    align-items: center;
}
}
  h1 {
  	font-size: 2.0em; 
  }
  footer.site-footer.small--text-center {
    display: none;
}
  .kailo-landing, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
   	color:#fff;
    font-weight:400;
    line-height:normal;
  }
  @media only screen and (max-width: 768px) {
  .product-link > div {
    font-size: 1.4em!important;
}
}
  .kailo-landing button, .yes-bundle button {
  	background-color: #928159;
    border-radius:20px;
    color:#fff;
    padding:1em 0;
    font-size:1.2em;
    font-weight:600;
	-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
  }
  .kailo-landing button span, .yes-bundle button span {
  	background-color: #928159;
    border-radius:20px;
    color:#fff;
    padding:1.2em;
    font-size:1.2em;
    font-weight:600;
	-moz-box-shadow: inset 0 0 35px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 35px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 35px rgba(0,0,0,0.3);
  }
  /* landing banner */
  .landing-banner h1 {
    font-weight:600;
  }
  .landing-banner {
    position: relative;
  	max-height: 30em;
    overflow: hidden;
  }
  .landing-banner img {
  	width: 100%;
  }
  .landing-banner .wrapper {
    margin: 0;
    padding:2em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:1300px;
    width:100%;
  }
  .landing-banner .wrapper h1 {
    text-align:center;
  }
  /* landing page content */
  .landing-page-content .wrapper h1, .landing-page-content .wrapper h3 {
    font-weight:600;
  }
  .landing-page-content {
    background-color: #212121;
    padding:5em 2em 0 2em;
  }
  .landing-page-content .wrapper {
   	text-align:center; 
  }
  /* landing video */
  .landing-video {
   	padding:3em 2em;
  	background-image: linear-gradient(#212121, #535353);
  }
  .landing-video .wrapper {
   	text-align: center;
  }
  .landing-video .video-wrapper {
    padding:3em 2em;
  }
  .landing-video .btn-wrapper {
   	text-align: center;
    padding: 2em;
  }
  /* landing gallery */
  .landing-gallery {
    padding:3em 2em 0 2em;
   	background-color:#535353; 
  }
  ul.gallery, ul.gallery li {
    padding:0;
    margin:0;
  }
  ul.gallery li img {
    width:100%;
  }
  /*landing info */
  .landing-info-wrapper {
    background-color:#535353;
    position:relative;
  }
  .landing-info {
    padding:6em 2em 3em 2em;
    color:#fff;
   	background-image:url({{ 'Kailo-Landing-Info-bg-opt01.jpg' | asset_img_url: 'master' }}); 
    background-position: center bottom;
    background-repeat:no-repeat;
    background-size: auto 100%;
    position:relative;
  }
  .landing-info-left {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:50%;
    background-image:url({{ 'Kailo-Landing-Info-lbg.jpg' | asset_img_url: 'master' }}); 
    background-position: bottom;
    background-repeat:repeat-x;
    background-size: auto 100%;
  }
  .landing-info-right {
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    right:0;
    background-image:url({{ 'Kailo-Landing-Info-rbg.jpg' | asset_img_url: 'master' }}); 
    background-position: bottom;
    background-repeat:repeat-x;
    background-size: auto 100%;
  }
  .landing-info .wrapper > div {
   	width:60%; 
  }
  .landing-info .btn-wrapper {
   text-align:center;
   padding:6em 2em; 
  }
  /*landing testimonials */
  .landing-testimonials {
    padding: 3em 2em;
   	background-color: #131313; 
  }
  .landing-testimonials .btn-wrapper {
  	text-align:center;
    padding:8em 2em;
  }
  /* landing faq */
  .landing-faq {
    padding: 3em 2em;
    background-color: #2d3d39; 
  }
  .landing-faq h1 {
    text-align:center;
  }
  .landing-faq .wrapper {
  	background-color: #293633;
    padding:2em;
    border-radius:12px;
  }
  .landing-faq .btn-wrapper {
   text-align:center;
   padding:2em 2em 8em 2em; 
  }
  .accordion {
	cursor: pointer;
    outline: none;
    transition: 0.4s;
    padding-left: 1.5em;
  }

  .accordion:before {
    content: '\25BA';
    color: #8e7d57;
    font-weight: bold;
    float: left;
    margin-left: -2.5em;
    font-size: 0.5em;
    line-height: 2.5em;
  }

  .active:before {
    content: "\25BC";
  }

  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-left:2.7em;
  }
  /* landing products */
  .landing-products {
   	padding: 0em 2em 5em 2em;
    background-color: #1b1b1b;
  }
  .landing-products .wrapper {
    text-align:center;
   	display:flex; 
  }
  .landing-products .buy-anchor {
   	margin-top:5em; 
  }
  .landing-product-title {
    font-size: 1.3em;
    font-weight: 600;
  }
  .landing-product-price {
    font-size: 2em;
  }
  .landing-product-sale {
   	 text-decoration: line-through;
  }
  button.landing-product-add, button.landing-product-add span {
   	font-size: 1em; 
  }
  .product-link {
  	color: #fff;
  }
  .product-link > div {
   	font-size: 0.65em; 
  }
  .white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 1200px;
    margin: 20px auto;
  }
  .popup-inner{
	display:flex;
  }
  .popup-inner > div{
	flex:100%;
  }
  .special {
	display:block;
    text-align:center;
    width:85%;
  }
  .rate {
	text-align:center;
	margin: -0.5em 0;
  }
  .number {
	font-size:6em;
    font-weight:600;
  }
  .percent {
	position: relative;
    top: -0.5em;
    font-size: 3.5em;
    font-weight:600;
  }
  .off {
    position: relative;
    left: -2.3em;
    font-size: 1.5em;
    font-weight: 600;
  }
  .special-image {
    width:85%;
  }
  .act-now {
    display:block;
    font-size:1.2em;
	font-weight:600;
    text-align:center;
  }
  .offer {
	display:block;
    font-size:2.2em;
    font-weight:600;
    text-align:center;
    color: #ff6b01;
  }
  .original-price {
	display:block;
    text-align:center;
	text-decoration: line-through;
    color:red;
  }
  .new-price {
	display:block;
    text-align:center;
  }
  .yes-bundle {
    margin: 2em 0 1em 0;
	text-align:center;
  }
  .no-thanks {
	display:block;
    text-align:center;
  }
  .no-thanks a {
	color:#343434;
    text-decoration:underline;
    cursor:pointer;
  }
  /* landing footer */
  .landing-footer {
    position:relative;
  	height: 55em;
    background-image: url({{ 'footer-background-opt.jpg' | asset_img_url: 'master' }});
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landing-footer .content, .landing-footer .landing-footer-link {
    color:#fff;
    font-size: 1.1em;
  }
  .landing-footer .content {
    padding: 0 3em;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  /* countdown timer */
  .timer-wrapper {
    position:relative; 
    background-color:black;
    background-image:url({{ 'KailoBox-Holiday-1003-built-website.png' | asset_img_url: 'master' }});
    background-size:cover;
    min-height:30em;
    white-space:nowrap;
    background-repeat: no-repeat;
    background-position: 0px -60px;
  }
  .timer-wrapper .timer-message {
    display:block;
    margin-bottom:.6em;
    font-size:1.5em;
  }
  #timer {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index:9;
    text-align:center;
  }
  .clock {
   	display:table;
    padding: 20px 20px 10px 20px;
    width: auto;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
  }
  #timer .clock div {
    display: inline-block;
    line-height: 1;
    font-weight:bold;
  }
  #days, #hours, #minutes, #seconds, .separator {
    font-size: 1.5em; 
    color: #928159;
    width:70px;
  }
  .separator {
   	width:unset; 
  }
  .clock .sub-text {
    display: block;
    text-align: center;
    font-size: .5em;
    font-weight: normal;
    padding: 10px 0;
    color:#333;
  }
  .timer-wrapper .timer-cta {
    display:block !important;
    margin-top:2em;
  }
  @media (max-width: 1024px) {
    body { font-size: large; }
    .landing-info .wrapper > div {
     width:70%; 
    }
  }
  @media (max-width: 768px) {
    body { font-size: medium; }
    .landing-info .wrapper > div {
     width:80%;
    }
    .landing-products .wrapper {
      display:block;
    }
    #pageContainer {
      padding-top:0px !important;
    }
  }
  @media (max-width: 500px) {
    body { font-size: small; }
    .landing-info {
     background-position: left bottom;
    }
    h1 {
     font-size: 1.9em; 
    }
    .landing-banner .wrapper {
      top: 55%;
    }
    .landing-info .wrapper > div {
     width:100%; 
    }
    .popup-inner{
      display:block;
    }
    #timer {
      left:50%; 
    }
    .timer-wrapper {
      background-position:0 0;
      min-height:35em;
    }
    .timer-wrapper .timer-message {
      font-size:1.5em;
    }
    #days, #hours, #minutes, #seconds, .separator {
      font-size: 2em; 
    }
  }
  /* HIDE LIVE CHAT BUTTON IN LOWER RIGHT CORNER */  
  #launcher, button.u-userLauncherColor {
    display:none !important;
  }
</style>
<div class="kailo-landing">
 <!-- <div class="timer-wrapper">
  <div id="timer">
    <h1>Holiday Savings</h1>
	<span class="timer-message">Sign up now to win a FREE kailo kit.</span>
    <span class="timer-message-subtext">Get up to <strong>40% OFF</strong> on Bundles<br>+ free shipping + 90 day money back guarantee.<br><br><strong>Order Today For Christmas Delivery.<br>The Countdown Is On!</strong></span> 
  	<div class="clock">
      <div id="days"></div>
      <div class="separator"> : <span class="sub-text">&nbsp;</span></div>
      <div id="hours"></div>
      <div class="separator"> : <span class="sub-text">&nbsp;</span></div>
      <div id="minutes"></div>
      <div class="separator"> : <span class="sub-text">&nbsp;</span></div>
      <div id="seconds"></div>
    </div>
    <span class="timer-message-subtext">Order by Dec. 10th for Ground Shipping xmas delivery or<br>Dec. 14th for Expedited Shipping for xmas delivery.</span>
    <div class="timer-cta"><div class="btn-wrapper"><button type="button" onclick="location.href='#buy';"><span>SHOP NOW</span></button></div></div>
  </div>
</div>  -->
  {% section 'kailo-landing-banner' %}
  <div class="landing-page-content">
    <div class="wrapper">
      <!--<h1>{{ page.title }}</h1>-->
      {{ page.content }}
    </div>
  </div>
  <div class="landing-video">
  	{% section 'kailo-landing-video-2' %}
  </div>
  <div class="landing-gallery">
  	{% section 'kailo-landing-gallery' %}
  </div>
  <div class="landing-info-wrapper">
    <div class="landing-info-left"></div>
    <div class="landing-info-right"></div>
    <div class="landing-info">
      {% section 'kailo-landing-info' %}
    </div>
  </div>
  <div class="landing-products">
    {% section 'kailo-xc-offer-1' %}
  </div>
  <div class="landing-testimonials">
    {% section 'kailo-landing-testimonials-2' %}
  </div>
  <div class="landing-footer">
    {% section 'kailo-landing-footer' %}
  </div>
</div>

{% include 'bmafnet_tracking' %}
<script type="text/javascript">
function makeTimer() {

	//		var endTime = new Date("29 April 2018 9:56:00 GMT+01:00");	
			var endTime = new Date("15 December 2020 7:00:00 GMT");			
			endTime = (Date.parse(endTime) / 1000);

			var now = new Date();
			now = (Date.parse(now) / 1000);

			var timeLeft = endTime - now;

			var days = Math.floor(timeLeft / 86400); 
			var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
			var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
			var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));
  
			if (hours < "10") { hours = "0" + hours; }
			if (minutes < "10") { minutes = "0" + minutes; }
			if (seconds < "10") { seconds = "0" + seconds; }

  			$("#days").html(days + '<span class="sub-text">DAYS</span>');
			$("#hours").html(hours + '<span class="sub-text">HRS</span>');
			$("#minutes").html(minutes + '<span class="sub-text">MIN</span>');
			$("#seconds").html(seconds + '<span class="sub-text">SEC</span>');		

	}

	setInterval(function() { makeTimer(); }, 1000);
</script>